<h1>Counter</h1>

<p>This is a simple example of an Angular component.</p>

<p>Current count: <strong>{{ currentCount }}</strong></p>

<button md-button (click)="incrementCounter()">Increment</button>
<button md-button color="accent" (click)="incrementCounter()">Increment</button>
<button md-button color="warn" (click)="incrementCounter()">Increment</button>
<button md-button color="accent" (click)="incrementCounter()">Increment</button>
<button md-raised-button (click)="incrementCounter()">Increment</button>
<button md-raised-button color="accent" (click)="incrementCounter()">Increment</button>
<button md-raised-button color="warn" (click)="incrementCounter()">Increment</button>
<button md-raised-button color="accent" (click)="incrementCounter()">Increment</button>