<h2 mat-dialog-title>{{data.titulo}}</h2>
<mat-dialog-content>{{data.texto}}</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true">SÍ</button>
  <button mat-button mat-dialog-close>NO</button>
</mat-dialog-actions>