<h2 mat-dialog-title>Error en la aplicación</h2>
<mat-dialog-content>
  <div class="generic-text">
    <p>Se ha producido un error en la aplicación.</p>
  </div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Detalle
        </mat-panel-title>
      </mat-expansion-panel-header>
      {{ data.error }}
    </mat-expansion-panel>
  </mat-accordion>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Aceptar</button>
</mat-dialog-actions>