<h2 mat-dialog-title>No es posible eliminar esta categoría</h2>
<mat-dialog-content>
  No es posible eliminar una categoría que tiene preguntas asignadas.<br>Antes deberás borrar sus preguntas o asignarlas a otra categoría.
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Aceptar</button>
</mat-dialog-actions>