<h2 mat-dialog-title>¿Estás seguro de que deseas borrar esta pregunta?</h2>
<mat-dialog-content>{{data.pregunta}}</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true">SÍ</button>
  <button mat-button mat-dialog-close>NO</button>
</mat-dialog-actions>