<app-loading *ngIf="loading"></app-loading>
<mat-toolbar color="basic">
  <span>{{'geografia.titulogeografia' | translate }}</span>
  <span class="fill-space"></span>
  <button mat-raised-button color="warn" (click)="newGeografia()">
    <i class="fa fa-plus"></i> {{'geografia.nuevageografia' | translate }}
  </button>
</mat-toolbar>
<div *ngIf="!loading">
  <div *ngIf="!geografias">
    <div>
      <p class="no-geografias">{{'geografia.nogeografias' | translate }}</p>
    </div>
  </div>
  <div *ngIf="!!geografias">
    <app-geografia-item *ngFor="let geografia of geografias" [geografia]="geografia" (onDelete)="deleteGeografia($event)" (onEdit)="editGeografia($event)"></app-geografia-item>
  </div>
</div>