<mat-card class="geografia-card">
    <mat-card-header class="geografia-card-header">
        <div class="pull-left geografia-icon-container">
          <i class="fa fa-globe fa-4x"></i>
        </div>
        <div class="pull-left geografia-main-info">
          <mat-card-title>{{geografia.nombre}}</mat-card-title>
          <mat-card-subtitle *ngIf="loading">{{'geografia.usuariosloading' | translate }}</mat-card-subtitle>
          <mat-card-subtitle *ngIf="!loading">{{'geografia.usuarios' | translate }} {{geografia.adminCount}}</mat-card-subtitle>
        </div>
    </mat-card-header>
    <mat-card-content>
      <!-- <span>Encuestas totales:</span><br>
      <span>Encuestas activas:</span><br>
      <span>Encuestas pendientes de aprobación:</span> -->
    </mat-card-content>  
    <mat-card-actions class="geografia-card-actions">
      <button mat-button color="accent" (click)="edit()">{{'geografia.editar' | translate }}</button>
      <button mat-button color="accent" (click)="openDeleteDialog()">{{'geografia.eliminar' | translate }}</button>
    </mat-card-actions>
  </mat-card>