<h2 mat-dialog-title>Hay cambios sin guardar, ¿estás seguro?</h2>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true">SÍ</button>
  <button mat-button mat-dialog-close>NO</button>
</mat-dialog-actions>