mat-cell {
  font-size: 10.5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nombre {
  font-weight: bold;
}

.header {
  margin: 10px 20px;
}

.header mat-form-field {
  margin-top: 10px;
}

.controls-container {
  margin-top: 10px;
}

.loader-controls {
  margin-top: 10px;
}

.full-width {
    margin-left: 15px;
    margin-right: 15px;
    width: 100%;
}
.middle-width {
    width: 50%;
}