<app-loading *ngIf="loading"></app-loading>
<mat-toolbar>
  <span class="my-style">{{'encuesta.cargaestructura' | translate }} - {{model.titulo}}</span>
</mat-toolbar>

<mat-card class="card" div fxLayout="row" fxLayoutAlign="end center">
    <input type="file" id="file" (change)="handleFileInput($event.target.files)" class="middle-width" />
    <div class="control-button">
        <button (click)="uploadFile()" [disabled]="loading" mat-raised-button color="warn"><i class="fa fa-address-book"></i> Cargar estructura</button>
    </div>
</mat-card>

<div class="mat-elevation-z8">
  <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
    
    <mat-form-field class="full-width">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'encuesta.filtro' | translate }}" class="filtro-tabla">
    </mat-form-field>

    <mat-form-field>
      <mat-select [(ngModel)]="tableType" name="tableType" (change)="feedTable()" placeholder="{{'encuesta.vista' | translate }}">
        <mat-option *ngFor="let type of tableTypes | keys" [value]="type.key">{{type.value}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-table [hidden]="loading" #table [dataSource]="dataSource" matSort>     
    <!-- Columna existe usuario -->
    <ng-container matColumnDef="usuarioId">
      <mat-header-cell fxFlex="4%" *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell fxFlex="4%" *matCellDef="let persona">
        <i *ngIf="persona.esLider && !persona.usuarioId" class="fa fa-lg fa-user-times" aria-hidden="true"></i>
      </mat-cell>
    </ng-container>

    <!-- Columna nombre -->
    <ng-container matColumnDef="nombre">
      <mat-header-cell fxFlex="18%" *matHeaderCellDef mat-sort-header> {{'encuesta.nombre' | translate }} </mat-header-cell>
      <mat-cell fxFlex="18%" *matCellDef="let persona" class="nombre"> {{persona.nombre}} </mat-cell>
    </ng-container>

    <!-- Columna Nivel 1 -->
    <ng-container matColumnDef="nivel1">
      <mat-header-cell fxFlex="12%" *matHeaderCellDef mat-sort-header> {{'encuesta.nivel1' | translate }} </mat-header-cell>
      <mat-cell fxFlex="12%" *matCellDef="let persona"> {{persona.nivel1}} </mat-cell>
    </ng-container>

    <!-- Columna Nivel 2 -->
    <ng-container matColumnDef="nivel2">
      <mat-header-cell fxFlex="12%" *matHeaderCellDef mat-sort-header> {{'encuesta.nivel2' | translate }} </mat-header-cell>
      <mat-cell fxFlex="12%" *matCellDef="let persona"> {{persona.nivel2}} </mat-cell>
    </ng-container>

    <!-- Columna Nivel 3 -->
    <ng-container matColumnDef="nivel3">
      <mat-header-cell fxFlex="12%" *matHeaderCellDef mat-sort-header> {{'encuesta.nivel3' | translate }} </mat-header-cell>
      <mat-cell fxFlex="12%" *matCellDef="let persona"> {{persona.nivel3}} </mat-cell>
    </ng-container>

    <!-- Columna Nivel 4 -->
    <ng-container matColumnDef="nivel4">
      <mat-header-cell fxFlex="12%" *matHeaderCellDef mat-sort-header> {{'encuesta.nivel4' | translate }} </mat-header-cell>
      <mat-cell fxFlex="12%" *matCellDef="let persona"> {{persona.nivel4}} </mat-cell>
    </ng-container>

    <!-- Columna centro -->
    <ng-container matColumnDef="centro">
      <mat-header-cell fxFlex="12%" *matHeaderCellDef mat-sort-header> {{'encuesta.centro' | translate }} </mat-header-cell>
      <mat-cell fxFlex="12%" *matCellDef="let persona"> {{persona.nomCentro}} </mat-cell>
    </ng-container>

    <!-- Columna usuario Email -->
    <ng-container matColumnDef="email">
      <mat-header-cell fxFlex="18%" *matHeaderCellDef mat-sort-header>{{'encuesta.email' | translate }} </mat-header-cell>
      <mat-cell fxFlex="18%" *matCellDef="let persona">
        {{ persona.email | lowercase }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  
  <mat-paginator #paginator
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 15]"
      [length]="totalItems">
  </mat-paginator>
</div>

<mat-card *ngIf="!loading" class="card" div fxLayout="row" fxLayoutAlign="end center">
    <div class="control-button">
        <button mat-raised-button color="warn" type="button" (click)="back()"><i class="fa fa-arrow-left"></i> {{'encuesta.volver' | translate }} </button>
        <button mat-raised-button color="warn" type="button" (click)="save()"><i class="fa fa-floppy-o"></i> {{'encuesta.guardar' | translate }} </button>
    </div>
</mat-card>
