<app-loading *ngIf="loading"></app-loading>
<mat-toolbar>
  <span class="my-style">{{'encuesta.configuracionfechas' | translate }} - {{model.titulo}}</span>
</mat-toolbar>

<form #f="ngForm" (ngSubmit)="submit()">
  <mat-card class="fechas-card">
    <div fxLayout="column" fxLayoutAlign="space-around">
      <p><strong>{{'encuesta.introducefechas' | translate }}</strong></p>
      <p>
        <mat-form-field>
          <input 
            matInput
            [(ngModel)]="model.fechaInicio"
            name="fechaInicio"
            [matDatepicker]="fechaInicioDP"
            placeholder="{{'encuesta.finicio' | translate }}"
            [min]="minFechaInicio"
            [max]="maxFechaInicio"
            (dateInput)="fechaInicioInput($event)"
            required
          >
          <mat-datepicker-toggle matSuffix [for]="fechaInicioDP"></mat-datepicker-toggle>
          <mat-datepicker #fechaInicioDP touchUi="true"></mat-datepicker>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input 
            matInput
            [(ngModel)]="model.fechaCierre"
            name="fechaCierre"
            [matDatepicker]="fechaCierreDP"
            placeholder="{{'encuesta.fcierre' | translate }}"
            [min]="minFechaCierre"
            [max]="maxFechaCierre"
            required
          >
          <mat-datepicker-toggle matSuffix [for]="fechaCierreDP"></mat-datepicker-toggle>
          <mat-datepicker #fechaCierreDP touchUi="true"></mat-datepicker>
        </mat-form-field>
      </p>
      <div *ngIf="model.estado.id == 0">
        <p>{{'encuesta.lanzanobservacion1' | translate }}</p>
        <p>{{'encuesta.lanzanobservacion2' | translate }}</p>
        <button mat-raised-button color="warn" type="submit" [disabled]="loading || !f.form.valid">
          <i class="fa fa-lg fa-pie-chart"></i> {{'encuesta.lanzarencuestamay' | translate }}
        </button>
      </div>
      <div *ngIf="model.estado.id != 0">
        <button mat-raised-button color="warn" type="button" (click)="save()" [disabled]="loading || !f.form.valid">
          <i class="fa fa-lg fa-pie-chart"></i> {{'encuesta.guardar' | translate }}
        </button>
      </div>
    </div>
  </mat-card>
</form>  

<div class="controls-container" fxLayout="row" fxLayoutAlign="space-between center">
  <button mat-button color="accent" (click)="back()" [disabled]="loading">
    <i class="fa fa-arrow-left"></i> {{'encuesta.volver' | translate }}
  </button>
</div>