<app-loading *ngIf="loading"></app-loading>
<div *ngIf="!loading">
  <div fxLayout
      fxLayout.xs="column"
      fxLayoutAlign="left"
      fxLayoutGap="10px"
      fxLayoutGap.xs="0">
    <div class="opciones-container" fxFlex="40%">
      <p>{{ 'preguntas.opcionesseleccionadas' | translate }}</p>
      <mat-card class="opcion-card" *ngFor="let opcion of pregunta.opciones" fxLayout="row" fxLayoutAlign="space-between center">
          <mat-card-header>
              <mat-card-title>{{opcion.texto}}</mat-card-title>
              <mat-card-subtitle>{{ 'preguntas.peso' | translate }} <strong>{{opcion.peso | number:'1.1-1'}}</strong></mat-card-subtitle>
          </mat-card-header>
          <div class="opcion-controls" >
              <button *ngIf="!ReadOnly" type="button" class="edit-button" (click)="toggleEditMode(opcion)"><i class="fa fa-pencil fa-2x"></i></button>
              <button *ngIf="!ReadOnly" type="button" class="delete-button" (click)="delete(opcion)"><i class="fa fa-trash fa-2x"></i></button>
              <button *ngIf="ReadOnly" type="button" class="edit-button" (click)="toggleEditMode(opcion)"><i class="fa fa-eye fa-2x"></i></button>
          </div>
      </mat-card>
    </div>
    <div class="add-container" fxFlex="60%">
        <div *ngIf="!ReadOnly">
            <button mat-button color="accent" type="button" class="add-button" (click)="toggleAddMode()">
                <i class="fa fa-plus"></i> {{ 'preguntas.incluiropcion' | translate }}
            </button>
            <button mat-button color="accent" type="button" class="add-button" (click)="toggleAddGrupoOpcionesMode()">
                <i class="fa fa-list"></i> {{ 'preguntas.incluirgrupo' | translate }}
            </button>
            <button mat-button color="accent" type="button" class="add-button" (click)="toggleSaveGrupoMode()">
                <i class="fa fa-floppy-o"></i> {{ 'preguntas.guardarcomogrupo' | translate }}
            </button>
        </div>
        <div *ngIf="addMode">
            <mat-card id="form-card">
                <form #f="ngForm" (ngSubmit)="submit()">
                    <div class="form-container">
                        <mat-form-field>
                            <input matInput placeholder="{{ 'preguntas.textoopcion' | translate }}"
                                   id="texto"
                                   type="text"
                                   [(ngModel)]="newOpcion.texto"
                                   name="texto"
                                   required>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="{{ 'preguntas.valorpeso' | translate }}"
                                   id="peso"
                                   type="number"
                                   [(ngModel)]="newOpcion.peso"
                                   name="peso"
                                   required>
                        </mat-form-field>

                        <input placeholder="{{ 'preguntas.selimagen' | translate }}"
                               id="imagen"
                               name="imagen"
                               #file type="file"
                               [(ngModel)]="newOpcion.imagen"
                               (change)="upload(file.files)"
                               accept="image/x-png, image/gif, image/jpeg" />

                        <div *ngIf="progressBar">
                            <progress max="100" value="{{progress}}"></progress>
                        </div>
                        <br />
                        <img mat-card-image [src]="placeholder" style="max-width:50%; margin:0 auto;" [hidden]="NoImagen" />
                        <mat-card-content>{{newOpcion.imagen}}</mat-card-content>

                        <div class="form-controls-container" *ngIf="!ReadOnly">
                            <button mat-button color="accent" type="button" [disabled]="!f.form.valid" (click)="addOpcion()">{{ 'preguntas.añadir' | translate }}</button>
                            <button mat-button color="accent" type="button" (click)="deactivateAddMode()"><i class="fa fa-times"></i> {{ 'preguntas.cancelar' | translate }}</button>
                        </div>
                    </div>
                </form>
            </mat-card>
        </div>
        <div *ngIf="addGrupoOpcionesMode">
            <mat-card id="form-card">
                <form #f="ngForm" (ngSubmit)="submit()">
                    <div class="form-container">
                        <mat-form-field>
                            <mat-select [(ngModel)]="grupoOpcionesId" name="grupoOpcionesId" placeholder="{{ 'preguntas.grupoopciones' | translate }}" required>
                                <mat-option *ngFor="let grupo of gruposOpciones"
                                            [value]="grupo.id">
                                    {{grupo.nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="form-controls-container" *ngIf="!ReadOnly">
                            <button mat-button color="accent" type="button" [disabled]="!f.form.valid" (click)="addGrupoOpciones()">{{ 'preguntas.añadir' | translate }}</button>
                            <button mat-button color="accent" type="button" (click)="toggleAddGrupoOpcionesMode()"><i class="fa fa-times"></i> {{ 'preguntas.cancelar' | translate }}</button>
                            <button mat-button color="accent" type="button" (click)="deleteGrupoOpciones()">{{ 'preguntas.eliminargrupo' | translate }}</button>
                        </div>
                    </div>
                </form>
            </mat-card>
        </div>
        <div *ngIf="saveGrupoMode">
            <mat-card id="form-card">
                <form #f="ngForm" (ngSubmit)="submit()">
                    <div class="form-container">
                        <mat-form-field>
                            <input matInput
                                   [(ngModel)]="newGrupoNombre"
                                   id="newGrupoNombre"
                                   name="newGrupoNombre"
                                   placeholder="{{ 'preguntas.nombregrupo' | translate }}"
                                   type="text"
                                   required>
                        </mat-form-field>
                        <div class="form-controls-container" *ngIf="!ReadOnly">
                            <button mat-button color="accent" type="button" [disabled]="!f.form.valid" (click)="saveGrupo()"><i class="fa fa-floppy-o"></i> {{ 'preguntas.guardarcomogrupo' | translate }}</button>
                            <button mat-button color="accent" type="button" (click)="toggleSaveGrupoMode()"><i class="fa fa-times"></i> {{ 'preguntas.cancelar' | translate }}</button>
                        </div>
                    </div>
                </form>
            </mat-card>
        </div>
        <div *ngIf="editMode">
            <mat-card id="form-card">
                <form #f="ngForm" (ngSubmit)="submit()">
                    <div class="form-container">
                        <mat-form-field>
                            <input matInput placeholder="{{ 'preguntas.textoopcion' | translate }}"
                                   id="texto"
                                   type="text"
                                   [(ngModel)]="editOpcion.texto"
                                   name="texto"
                                   required>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="{{ 'preguntas.valorpeso' | translate }}"
                                   id="peso"
                                   type="number"
                                   [(ngModel)]="editOpcion.peso"
                                   name="peso"
                                   required>
                        </mat-form-field>

                        <input placeholder="{{ 'preguntas.selimagen' | translate }}"
                               id="imagen"
                               name="imagen"
                               #file type="file"
                               [(ngModel)]="editOpcion.imagen"
                               (change)="upload(file.files)"
                               accept="image/x-png, image/gif, image/jpeg" />

                        <div *ngIf="progressBar">
                            <progress max="100" value="{{progress}}"></progress>
                        </div>
                        <br />
                        <img mat-card-image [src]="placeholder" style="max-width:50%; margin:0 auto;" [hidden]="NoImagen" />
                        <mat-card-content>{{editOpcion.imagen}}</mat-card-content>
                    </div>
                </form>
            </mat-card>
        </div>
        <div *ngIf="readonlyMode">
            <mat-card id="form-card">
                <form #f="ngForm" (ngSubmit)="submit()">
                    <div class="form-container">
                        <mat-form-field>
                            <input matInput placeholder="{{ 'preguntas.textoopcion' | translate }}"
                                   id="texto"
                                   type="text"
                                   [(ngModel)]="editOpcion.texto"
                                   name="texto"
                                   required
                                   disabled>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="{{ 'preguntas.valorpeso' | translate }}"
                                   id="peso"
                                   type="number"
                                   [(ngModel)]="editOpcion.peso"
                                   name="peso"
                                   required
                                   disabled>
                        </mat-form-field>
                        <br />
                        <img mat-card-image [src]="placeholder" style="max-width:50%; margin:0 auto;" [hidden]="NoImagen" />
                        <mat-card-content>{{editOpcion.imagen}}</mat-card-content>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
  </div>
</div>
