.add-container {
  padding: 10px;
}

.add-button {
  margin-bottom: 10px;
}

#form-card {
  margin-top: 25px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-controls-container {
  display: flex;
  flex-direction: row;
}

.opcion-card {
  padding: 0 10px;
  margin-bottom: 6px;
}

.opcion-card mat-card-title {
  margin-top: 10px;
  margin-bottom: 2px;
}

.opcion-card mat-card-subtitle {
  margin-top: 2px;
  margin-bottom: 6px;
}

.opcion-controls button {
  margin-right: 4px;
  border: none;
  background-color: transparent;
}

.opcion-controls .edit-button:hover i {
  color: rgb(0, 166, 139);
}

.opcion-controls .delete-button:hover i {
    /*color: #f44336;*/
    color: rgb(0, 166, 139);
}