<app-loading *ngIf="loading"></app-loading>
<mat-toolbar *ngIf="!loading">
  <span *ngIf ="readOnlyMode">{{ 'preguntas.categoria' | translate }} {{model.nombreCategoria}}. {{ 'preguntas.consultapreguntas' | translate }}</span>
  <span *ngIf ="!readOnlyMode">{{ 'preguntas.categoria' | translate }} {{model.nombreCategoria}}. {{ 'preguntas.edicionpreguntas' | translate }}</span>
  <span class="fill-space"></span>
  <button *ngIf ="!readOnlyMode" mat-raised-button color="warn" (click)="back()"><i class="fa fa-times"></i> {{ 'preguntas.cancelar' | translate }}</button>
</mat-toolbar>
<div fxLayoutAlign="space-around center">
    <mat-card *ngIf="!loading" fxFlex.gt-xs="75" id="form-card">
        <form #f="ngForm" (ngSubmit)="submit()">
            <div class="form-container">
                <mat-form-field class="text-full-width">
                    <textarea matInput
                              placeholder="{{ 'preguntas.texto' | translate }}"
                              matTextareaAutosize
                              matAutosizeMinRows="2"
                              matAutosizeMaxRows="5"
                              id="texto"
                              [(ngModel)]="model.texto"
                              name="texto"
                              required
                              [disabled]="readOnlyMode"></textarea>
                </mat-form-field>
                <mat-form-field class="text-full-width">
                    <textarea matInput
                              placeholder="{{ 'preguntas.descripcion' | translate }}"
                              id="descripcion"
                              [(ngModel)]="model.descripcion"
                              name="descripcion"
                              [disabled]="readOnlyMode"></textarea>
                </mat-form-field>
                <!-- warning, visible only if no categoriaId -->
                <mat-form-field *ngIf="categorias && !model.categoriaId">
                    <mat-select [(ngModel)]="model.categoriaId"
                                name="categoriaId"
                                placeholder="{{ 'preguntas.categoria' | translate }}"
                                required
                                [disabled]="readOnlyMode">
                        <mat-option *ngFor="let categoria of categorias.items"
                                    [value]="categoria.id">
                            {{categoria.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="tipoPreguntas">
                    <mat-select [(ngModel)]="model.tipoPregunta.id"
                                name="tipoPregunta"
                                placeholder="{{ 'preguntas.tipopregunta' | translate }}"
                                required
                                [disabled]="readOnlyMode">
                        <mat-option *ngFor="let tipoPregunta of tipoPreguntas"
                                    [value]="tipoPregunta.id">
                            {{tipoPregunta.descripcion}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="model.tipoPregunta.id === 2">
                    <mat-form-field>
                        <input matInput placeholder="{{ 'preguntas.tamanoescala' | translate }}"
                               id="escala"
                               type="number"
                               min=1
                               [(ngModel)]="model.escala"
                               name="escala"
                               required
                               [disabled]="readOnlyMode">
                    </mat-form-field>
                </div>
                <div *ngIf="model.tipoPregunta.id === 1">
                    <app-opciones-editor [pregunta]="model"
                                         [readonly]="readOnlyMode"
                                         (onAdded)="onAdded($event)"
                                         (onAddAll)="onAddedAll($event)"
                                         (onDelete)="onDeleted($event)"
                                         (onDeleteAll)="onDeletedAll($event)"
                                         (onMsg)="showMsg($event)"
                                         (onSaveAsGrupo)="onSaveAsGrupo($event)">
                    </app-opciones-editor>
                </div>
                
                <div fxLayout="row" fxLayoutAlign="end center">
                    <button *ngIf="!readOnlyMode" mat-raised-button
                            color="warn"
                            type="submit"
                            [disabled]="!f.form.valid || (model.tipoPregunta.id == 1 && (!model.opciones || model.opciones.length == 0))">
                        <i class="fa fa-floppy-o"></i> {{ 'preguntas.guardarcambios' | translate }}
                    </button>
                </div>
            </div>                                            
        </form>     
        
        <div [hidden]="totalItems==0">
            <mat-table [hidden]="loading" #table [dataSource]="dataSourceEncuestas">
    
                <!-- Columna titulo -->
                <ng-container matColumnDef="titulo">
                    <mat-header-cell fxFlex="18" *matHeaderCellDef>{{ 'preguntas.titulo' | translate }}</mat-header-cell>
                    <mat-cell fxFlex="18" *matCellDef="let encuesta"><strong>{{encuesta.titulo}}</strong></mat-cell>
                </ng-container>
    
                <!-- Columna estado -->
                <ng-container matColumnDef="estado">
                    <mat-header-cell fxFlex="15" *matHeaderCellDef>{{ 'preguntas.estado' | translate }}</mat-header-cell>
                    <mat-cell fxFlex="15" *matCellDef="let encuesta">{{encuesta.estado.descripcion}}</mat-cell>
                </ng-container>
    
                <!-- Columna descripcion -->
                <ng-container matColumnDef="descripcion">
                    <mat-header-cell fxFlex="32" *matHeaderCellDef>{{ 'preguntas.descripcion' | translate }}</mat-header-cell>
                    <mat-cell fxFlex="32" *matCellDef="let encuesta">{{encuesta.descripcion}}</mat-cell>
                </ng-container>                
    
                <!-- Columna acciones -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell fxFlex="12" *matHeaderCellDef>{{ 'preguntas.acciones' | translate }}</mat-header-cell>
                    <mat-cell fxFlex="12" *matCellDef="let encuesta">
                            <button matTooltip="{{ 'preguntas.editar' | translate }}" *ngIf="encuesta.estado.id == 0 || encuesta.estado.id == 1|| encuesta.estado.id == 2|| encuesta.estado.id == 3" mat-button color="primary" (click)="edit(encuesta)"><i class="fa fa-pencil"></i></button>
                    </mat-cell>
                </ng-container>
    
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
    
            <mat-paginator #paginator
                [pageSize]="5"
                [pageSizeOptions]="[5, 10, 15]"
                [length]="totalItems">
            </mat-paginator>                
        </div>    
                

    </mat-card>    
</div>

<mat-card *ngIf="!loading" class="card" div fxLayout="row" fxLayoutAlign="end center">
      <div class="control-button">
          <button *ngIf="readOnlyMode" mat-raised-button color="warn" (click)="back()"><i class="fa fa-arrow-left"></i> {{ 'preguntas.volver' | translate }}</button>
       </div>
</mat-card>
