mat-grid-tile {
  background: lightblue;
  border-radius: 4px;
  cursor: pointer;
}

mat-grid-tile:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  opacity: 0.5;
}

mat-grid-tile-footer {
  text-align: right;
}