<mat-grid-list cols="4" gutterSize="3px" rowHeight="3:2">
  <mat-grid-tile 
    *ngFor="let categoria of categorias"
    (click)="select(categoria)">
    <mat-grid-tile-header>{{categoria.nombre}}</mat-grid-tile-header>
    <mat-grid-tile-footer>{{categoria.preguntasCount}} {{ 'preguntas.preguntasm' | translate }}</mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>