/* verde #00a68b */
/* azul #334487 */
/* gris #9aa49c */


.fill-space {
  flex: 1 1 auto;
}

.mat-button {
  min-width: 0 !important;
}

.filtro-tabla {
  margin-left: 15px;
}

.control-button {
  margin-left: 8px;
}

.mat-elevation-z8 {
  margin-top: 4px;
}

