<h2 mat-dialog-title>{{'encuesta.activacionencuesta' | translate }}</h2>
<mat-dialog-content>
  <div class="generic-text">
    <p>{{'encuesta.activacionaviso' | translate }}</p>
  </div>
  <div class="generic-text">
    <p>{{'encuesta.activacionpregunta' | translate }}</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="accent" mat-dialog-close [mat-dialog-close]="true">{{'encuesta.activacionconfirmar' | translate }}</button>
  <button mat-button color="accent" mat-dialog-close><i class="fa fa-times"></i> {{'encuesta.activacioncancelar' | translate }}</button>
</mat-dialog-actions>