<h2 mat-dialog-title>{{'encuesta.borrarpregunta' | translate }}</h2>
<mat-dialog-content>{{data.titulo}}</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true">{{'encuesta.borrarsi' | translate }}</button>
  <button mat-button mat-dialog-close>{{'encuesta.borrarno' | translate }}</button>
</mat-dialog-actions>