<h2 mat-dialog-title>{{'encuesta.encuestaenlace' | translate }}</h2>
<mat-dialog-content>
  <div class="generic-text">
    <p>{{'encuesta.linkencuesta' | translate }} <a [routerLink]="['/encuestas/responder', id]">link</a></p>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="accent" mat-dialog-close>{{'encuesta.aceptar' | translate }}</button>
</mat-dialog-actions>