<h2 mat-dialog-title>{{'encuesta.encuestamodificaractiva' | translate }}</h2>
<mat-dialog-content>
  <div class="generic-text">
    <p>{{'encuesta.modificarpregunta' | translate }}</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="accent" mat-dialog-close [mat-dialog-close]="true">{{'encuesta.modificarconfirmar' | translate }}</button>
  <button mat-button color="accent" mat-dialog-close><i class="fa fa-times"></i> {{'encuesta.modificarcancelar' | translate }}</button>
</mat-dialog-actions>