<h2 mat-dialog-title>{{'encuesta.mailenvio' | translate }}</h2>
<mat-dialog-content>
  <div class="generic-text">
    <p>{{'encuesta.mailpregunta' | translate }}</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="accent" mat-dialog-close [mat-dialog-close]="true">{{'encuesta.mailconfirmar' | translate }}</button>
  <button mat-button color="accent" mat-dialog-close><i class="fa fa-times"></i> {{'encuesta.mailcancelar' | translate }}</button>
</mat-dialog-actions>