<h2 mat-dialog-title>{{'tipoencuesta.noposibleborrar' | translate }}</h2>
<mat-dialog-content>
  {{'tipoencuesta.noposibleborrarext' | translate }}  
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>{{'tipoencuesta.aceptar' | translate }}</button>
</mat-dialog-actions>