<h2 mat-dialog-title>{{'tipoencuesta.seguroborrar' | translate }}</h2>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>{{'tipoencuesta.no' | translate }}</button>
  <button mat-button [mat-dialog-close]="true">{{'tipoencuesta.si' | translate }}</button>
</mat-dialog-actions>