<app-loading *ngIf="loading"></app-loading>
<mat-toolbar color="basic">
  <span>{{'administrador.tituloadministrador' | translate }}</span>
  <span class="fill-space"></span>
  <button mat-raised-button color="warn" (click)="newAdmin()">
    <i class="fa fa-plus"></i> {{'administrador.nuevo' | translate }}
  </button>
</mat-toolbar>
<div *ngIf="!loading">
  <mat-form-field>
    <mat-select [(ngModel)]="selectedGeografiaId" name="selectedGeografiaId" (change)="onGeografiaChange()" placeholder="{{'administrador.geografia' | translate }}">
      <mat-option>{{'administrador.todas' | translate }}</mat-option>
      <mat-option *ngFor="let geografia of geografias" [value]="geografia.id">{{geografia.nombre}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="!admins">
    <div>
      <p class="no-admins">{{'administrador.noadministradores' | translate }}</p>
    </div>
  </div>
  <div *ngIf="!!admins">
    <app-admin-item *ngFor="let admin of admins" [admin]="admin" (onDelete)="deleteAdmin($event)" (onEdit)="editAdmin($event)"></app-admin-item>
  </div>
</div>
