.no-admins {
  padding-top: 50px;
  text-align: center;
  color: grey;
}

.loading-card-content {
  position: inherit;
  left: 45%;
  margin: 20 auto;
}

.loading-message {
  text-align: center;
}

mat-form-field {
  margin: 5px 15px;
}