<mat-card class="admin-card">
  <mat-card-header class="admin-card-header">
      <div class="pull-left admin-icon-container">
        <i class="fa fa-user fa-4x"></i>
      </div>
      <div class="pull-left admin-main-info">
        <mat-card-title>{{admin.username}} ({{admin.nombre}} {{admin.apellidos}})</mat-card-title>
        <mat-card-subtitle>{{admin.email}}</mat-card-subtitle>
        <mat-card-subtitle>{{admin.geografia}}</mat-card-subtitle>
      </div>
  </mat-card-header>
  <mat-card-content>
    <span>{{'administrador.ultimologin' | translate }} {{admin.lastLogin | amLocal | amDateFormat: 'HH:mm DD/MM/YYYY'}}</span><br>
    <span>{{'administrador.ultimaactualizacion' | translate }} {{admin.lastUpdate | amLocal | amDateFormat: 'HH:mm DD/MM/YYYY'}}</span><br>
    <!-- <span>Encuestas totales:</span><br>
    <span>Encuestas activas:</span><br>
    <span>Encuestas pendientes de aprobación:</span> -->
  </mat-card-content>  
  <mat-card-actions class="admin-card-actions">
    <button mat-button color="accent" (click)="edit()">{{'administrador.editar' | translate }}</button>
    <button mat-button color="accent" (click)="delete()">{{'administrador.eliminar' | translate }}</button>
  </mat-card-actions>
</mat-card>