<mat-card id="form-card">
  <form #f="ngForm" (ngSubmit)="submit()">
    <div class="form-container">
      <mat-form-field>
        <input matInput placeholder="{{'administrador.nombreusuario' | translate }}"
          id="username" 
          type="text" 
          [(ngModel)]="model.username" 
          name="username"
          required
        >
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="{{'administrador.nombre' | translate }}"
          id="nombre" 
          type="text" 
          [(ngModel)]="model.nombre" 
          name="nombre"
          required
        >
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="{{'administrador.apellidos' | translate }}"
          id="apellidos" 
          type="text" 
          [(ngModel)]="model.apellidos" 
          name="apellidos"
          required
        >
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="{{'administrador.email' | translate }}"
          id="email" 
          type="email" 
          [(ngModel)]="model.email" 
          name="email"
          email
          required
        >
      </mat-form-field>
      <mat-form-field>
        <mat-select [(ngModel)]="model.geografiaId" name="geografiaId" placeholder="{{'administrador.geografia' | translate }}" required>
          <mat-option 
            *ngFor="let geografia of geografias" 
            [value]="geografia.id">{{geografia.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="form-controls-container">
          <button mat-button color="accent" type="submit" [disabled]="!f.form.valid"><i class="fa fa-floppy-o"></i> {{'administrador.guardar' | translate }}</button>
          <button mat-button color="accent" (click)="cancel()"><i class="fa fa-times"></i> {{'administrador.cancelar' | translate }}</button>
      </div>
    </div>
  </form>
</mat-card>