.card {
  margin-top: 8px;
}

.indicator-value {
  font-weight: bold;
  font-size: 32px;
  padding: 0 10px;
}

.indicator-key {
  font-weight: bold;
  font-size: 18px;
}

.indicator-card {
  text-align: center;
}

.clickable-card {
  cursor: pointer;
}

.clickable-card:hover {
  background-color: rgb(0, 166, 139);
  color: white;
}

.control-button {
  margin-left: 8px;
}