<app-loading *ngIf="loading"></app-loading>
<mat-toolbar>
    <span class="my-style">{{'encuesta.resumentitulo' | translate }} - {{model.titulo}}</span>
</mat-toolbar>

<div *ngIf="!loading" fxLayout="row" fxLayoutAlign="space-between">
    <mat-card (click)="goToCategorias()" class="card indicator-card clickable-card" fxFlex="24">
        <div>
            <p>
                <i class="fa fa-3x fa-th"></i>
                <span class="indicator-value">{{model.categorias.length}}</span>
            </p>
            <p class="indicator-key">{{'encuesta.categorias' | translate }}</p>
        </div>
    </mat-card>
    <mat-card (click)="goToPreguntas()" class="card indicator-card clickable-card" fxFlex="24">
        <div>
            <p>
                <i class="fa fa-3x fa-question-circle-o"></i>
                <span class="indicator-value">{{model.preguntas.length}}</span>
            </p>
            <p class="indicator-key">{{'encuesta.preguntas' | translate }}</p>
        </div>
    </mat-card>
    <mat-card (click)="goToEstructura()" class="card indicator-card clickable-card" fxFlex="24">
        <div>
            <p>
                <i class="fa fa-3x fa-user-md"></i>
                <span class="indicator-value">{{lideres}}</span>
            </p>
            <p class="indicator-key">{{'encuesta.lideres' | translate }}</p>
        </div>
    </mat-card>
    <mat-card (click)="goToEstructura()" class="card indicator-card clickable-card" fxFlex="24">
        <div>
            <p>
                <i class="fa fa-3x fa-user-o"></i>
                <span class="indicator-value">{{receptores}}</span>
            </p>
            <p class="indicator-key">{{'encuesta.receptores' | translate }}</p>
        </div>
    </mat-card>
</div>

<div fxLayout="row" fxLayoutAlign="none" *ngIf="!loading">
    <mat-card fxFlex="65" class="card">
        <mat-list>
            <mat-list-item>{{'encuesta.titulodelaencuesta' | translate }} <strong>{{model.titulo}}</strong></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>{{'encuesta.descripcionconpuntos' | translate }} <strong>{{model.descripcion}}</strong></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>{{'encuesta.administradorconpuntos' | translate }} <strong>{{model.usuario.email}}</strong></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>{{'encuesta.estadoconpuntos' | translate }} <strong>{{model.estado.descripcion}}</strong></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>{{'encuesta.tipoencuestaconpuntos' | translate }} <strong>{{model.tipoEncuesta.nombre}}</strong></mat-list-item>            
            <mat-divider></mat-divider>
            <mat-list-item>{{'encuesta.idiomaconpuntos' | translate }} <strong>{{model.idioma.nombre}}</strong></mat-list-item>    
            <mat-divider *ngIf="!valido"></mat-divider>
            <mat-list-item *ngIf="!valido"><strong>{{'encuesta.pesosincorrectos' | translate }}</strong></mat-list-item>  
            <mat-list-item *ngIf="!valido">
                <ol>
                    <li *ngFor="let categoria of validaciones"> {{ categoria }} </li>
                 </ol> 
            </mat-list-item>    
            <!--
            <mat-divider></mat-divider>
            <mat-list-item>Fecha de inicio: <strong>{{model.fechaInicio | date:medium}}</strong></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Fecha de cierre: <strong>{{model.fechaCierre | date:medium}}</strong></mat-list-item>
            -->
        </mat-list>
    </mat-card>
    <mat-card fxFlex="35" class="card">
        <app-loading *ngIf="editing"></app-loading>
        <form *ngIf="editMode">
            <div fxLayout="column">
                <mat-form-field>
                    <input matInput placeholder="{{'encuesta.titulo' | translate }}" type="text" [(ngModel)]="model.titulo" name="titulo" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="{{'encuesta.descripcion' | translate }}" type="text" [(ngModel)]="model.descripcion" name="descripcion">
                </mat-form-field>
                <mat-form-field>
                    <mat-select [(ngModel)]="model.tipoEncuestaId" name="tipoEncuestaId" placeholder="{{'encuesta.tipoencuesta' | translate }}" required (change)="onCambioTipoEncuesta()">   
                        <mat-option *ngFor="let tipo of tiposencuesta" [value]="tipo.id">{{tipo.nombre}}</mat-option>                 
                    </mat-select>
                </mat-form-field>                 
                <mat-form-field>
                    <mat-select [(ngModel)]="model.idiomaId" name="idiomaId" placeholder="{{'encuesta.idioma' | translate }}" required (change)="onCambioIdioma()">   
                        <mat-option *ngFor="let idioma of idiomas" [value]="idioma.id">{{idioma.nombre}}</mat-option>                 
                    </mat-select>
                </mat-form-field>                  
            </div>
            <button mat-raised-button color="warn" type="button" (click)="edit()"><i class="fa fa-floppy-o"></i> {{'encuesta.guardar' | translate }}</button>
            <button mat-raised-button color="warn" type="button" (click)="toggleEditMode()"><i class="fa fa-times"></i> {{'encuesta.cancelar' | translate }}</button>
        </form>
        <button *ngIf="!editMode" mat-raised-button color="warn" (click)="toggleEditMode()"><i class="fa fa-edit"></i> {{'encuesta.editardatos' | translate }}</button>
    </mat-card>
</div>

<mat-card *ngIf="!loading" class="card" div fxLayout="row" fxLayoutAlign="end center">
    <div class="control-button">
        <button mat-raised-button color="warn" type="button" (click)="back()"> <i class="fa fa-arrow-left"></i> {{'encuesta.volver' | translate }}</button>
        <button *ngIf="model.estado.id == 0 && valido" mat-raised-button color="warn" type="button" (click)="encolar()">{{'encuesta.pedirrevision' | translate }}</button>
        <button *ngIf="model.estado.id == 2 && valido" mat-raised-button color="warn" type="button" (click)="lanzar()">{{'encuesta.lanzarencuesta' | translate }}</button>
        <button *ngIf="model.estado.id == 1 && authService.isMaster() && valido" mat-raised-button color="warn" type="button" (click)="aprobar()">{{'encuesta.aprobarencuesta' | translate }}</button>
    </div>
</mat-card>

