<mat-toolbar color="primary">
    <button mat-button routerLink="/home">
        <img src="./image/logo.png" width="50px">
        <span class="title">Engagement Express</span>
        <span class="version">1.1.15</span>
    </button>
    <span class="fill-remaining-space"></span>
    <div class="text-menu" fxHide.lt-lg="true">
        <button *ngIf="authService.isLider()" mat-button [mat-menu-trigger-for]="informesMenu" fxHide="false">
            {{ 'aplicacion.menuinformes' | translate }}
        </button>
        <button *ngIf="authService.isAdmin()" mat-button [mat-menu-trigger-for]="adminmenu" fxHide="false">
            {{ 'aplicacion.menuadministracion' | translate }}
        </button>
        <button *ngIf="authService.isMaster()" mat-button [mat-menu-trigger-for]="mastermenu" fxHide="false">
            {{ 'aplicacion.menumaster' | translate }}
        </button>
        <button mat-button [mat-menu-trigger-for]="menu" fxHide="false">
            {{ 'aplicacion.menuperfil' | translate }}
        </button>
    </div>
    <div fxHide fxShow.lt-lg="true">
        <button *ngIf="authService.isLider()" mat-button [mat-menu-trigger-for]="informesMenu" mat-button fxHide="false">
                    <i class="fa fa-bar-chart"></i>
        </button>
        <button *ngIf="authService.isAdmin()" mat-button [mat-menu-trigger-for]="adminmenu" fxHide="false">
            <i class="fa fa-sliders"></i>
        </button>
        <button *ngIf="authService.isMaster()" mat-button [mat-menu-trigger-for]="mastermenu" fxHide="false">
            <i class="fa fa-black-tie"></i>
        </button>
        <button mat-button [mat-menu-trigger-for]="menu" fxHide="false">
            <i class="fa fa-key"></i>
        </button>
    </div>    
</mat-toolbar>

<mat-menu x-position="before" #informesMenu="matMenu">
    <button  mat-menu-item routerLink="/informes"><i class="fa fa-bar-chart"></i>{{ 'aplicacion.menuinformescomparativa' | translate }}</button>
    <button mat-menu-item routerLink="/informestipo"><i class="fa fa-bar-chart"></i>{{ 'aplicacion.menuinformestipos' | translate }}</button>
</mat-menu>

<mat-menu x-position="before" #adminmenu="matMenu">
    <button  mat-menu-item routerLink="/categorias"><i class="fa fa-question-circle-o"></i>{{ 'aplicacion.menuadmincatpreg' | translate }}</button>
    <button mat-menu-item routerLink="/encuestas"><i class="fa fa-signal"></i>{{ 'aplicacion.menuadminencuestas' | translate }}</button>
</mat-menu>

<mat-menu x-position="before" #mastermenu="matMenu">
    <button mat-menu-item routerLink="/admin-panel"><i class="fa fa-key"></i>{{ 'aplicacion.menuadministrators' | translate }}</button>
    <button mat-menu-item routerLink="/geografias"><i class="fa fa-crosshairs"></i>{{ 'aplicacion.menuadmingeografias' | translate }}</button>
    <button mat-menu-item routerLink="/tiposencuesta"><i class="fa fa-sitemap"></i>{{ 'aplicacion.menuadmintiposencuesta' | translate }}</button>
    <button mat-menu-item routerLink="/revisiones"><i class="fa fa-eye"></i>{{ 'aplicacion.menuadminrevisiones' | translate }}</button>
</mat-menu>

<mat-menu x-position="before" #menu="matMenu">
    <button *ngIf="!authService.isAuthenticated()" mat-menu-item routerLink="/login"><i class="fa fa-sign-in"></i>{{ 'aplicacion.menuperfilentrar' | translate }}</button>
    <button *ngIf="authService.isAuthenticated()" (click)="authService.logout()" mat-menu-item routerLink="/home"><i class="fa fa-sign-out"></i>{{ 'aplicacion.menuperfilsalir' | translate }}</button>
    <button *ngIf="authService.isAuthenticated()" mat-menu-item routerLink="/change-pass"><i class="fa fa-barcode"></i>{{ 'aplicacion.menuperfilcambiarpwd' | translate }}</button>
</mat-menu>

<router-outlet></router-outlet>

<script src="node_modules/chart.js/src/chart.js"></script>
