.fill-remaining-space {
    /*This fills the remaining space, by using flexbox.  
   Every toolbar row uses a flexbox row layout. */
   flex: 1 1 auto;
 }

 .mat-menu-item {
   font-size: 14px;
 }

 .title {
   /*color: #b9bdc9;*/
   font-size: 24px;
   margin-left: 15px;
 }

 .version {
  /*color: #b9bdc9;*/
  font-size: 7px;
  align-content: bottom;
}

 .text-menu {
   /*color: #b9bdc9;*/
 }

