<app-loading *ngIf="loading"></app-loading>
<mat-toolbar>
  <span>Engagement Express - {{ 'revisiones.revisionestitulo' | translate }}</span>
  <span class="fill-space"></span>
</mat-toolbar>

<div class="mat-elevation-z8">
  <div class="header">
    <mat-form-field class="full-width">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'revisiones.filtro' | translate }}" class="filtro-tabla">
    </mat-form-field>
  </div>

  <mat-table [hidden]="loading" #table [dataSource]="dataSource" matSort>

    <!-- Columna titulo -->
    <ng-container matColumnDef="titulo">
      <mat-header-cell fxFlex="18" *matHeaderCellDef mat-sort-header>{{ 'revisiones.titulo' | translate }}</mat-header-cell>
      <mat-cell fxFlex="18" *matCellDef="let encuesta"><strong>{{encuesta.titulo}}</strong></mat-cell>
    </ng-container>

    <!-- Columna estado -->
    <ng-container matColumnDef="estado">
      <mat-header-cell fxFlex="15" *matHeaderCellDef mat-sort-header>{{ 'revisiones.estado' | translate }}</mat-header-cell>
      <mat-cell fxFlex="15" *matCellDef="let encuesta">{{encuesta.estado.descripcion}}</mat-cell>
    </ng-container>

    <!-- Columna descripcion -->
    <ng-container matColumnDef="descripcion">
      <mat-header-cell fxFlex="32" *matHeaderCellDef mat-sort-header>{{ 'revisiones.descripcion' | translate }}</mat-header-cell>
      <mat-cell fxFlex="32" *matCellDef="let encuesta">{{encuesta.descripcion}}</mat-cell>
    </ng-container>

    <!-- Columna administrador -->
    <ng-container matColumnDef="administrador">
      <mat-header-cell fxFlex="15" *matHeaderCellDef mat-sort-header>{{ 'revisiones.administrador' | translate }}</mat-header-cell>
      <mat-cell fxFlex="15" *matCellDef="let encuesta">{{encuesta.usuario.username}}</mat-cell>
    </ng-container>

    <!-- Columna administrador -->
    <ng-container matColumnDef="geografia">
      <mat-header-cell fxFlex="15" *matHeaderCellDef mat-sort-header>{{ 'revisiones.geografia' | translate }}</mat-header-cell>
      <mat-cell fxFlex="15" *matCellDef="let encuesta">{{encuesta.usuario.geografia}}</mat-cell>
    </ng-container>

    <!-- Columna acciones -->
    <ng-container matColumnDef="actions">
      <mat-header-cell fxFlex="10" *matHeaderCellDef mat-sort-header>{{ 'revisiones.acciones' | translate }}</mat-header-cell>
      <mat-cell fxFlex="10" *matCellDef="let encuesta">
        <button *ngIf="encuesta.estado.id == 0 || encuesta.estado.id == 1" mat-button color="primary" (click)="review(encuesta)"><i class="fa fa-eye"></i></button>
        <button *ngIf="encuesta.estado.id == 0 || encuesta.estado.id == 1" mat-button color="primary" (click)="approve(encuesta)"><i class="fa fa-check"></i></button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 20]"
      [length]="totalItems">
  </mat-paginator>
</div>