<app-loading *ngIf="loading"></app-loading>
<mat-toolbar>
  <span class="my-style">{{'encuesta.seleccioncategoria' | translate }} - {{model.titulo}}</span>
  <span class="fill-space"></span>
</mat-toolbar>

<div class="mat-elevation-z8">
  <div class="header">
    <mat-form-field class="full-width">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'encuesta.filtro' | translate }}" class="filtro-tabla">
    </mat-form-field>
  </div>

  <mat-table [hidden]="loading" #table [dataSource]="dataSource" matSort>

    <!-- Seleccionar todo -->
    <ng-container matColumnDef="select">
      <mat-header-cell fxFlex="8%" *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-header-cell fxFlex="8%" *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-header-cell>
    </ng-container>

    <!-- Columna nombre -->
    <ng-container matColumnDef="nombre">
      <mat-header-cell fxFlex="70%" *matHeaderCellDef mat-sort-header> {{'encuesta.categorianombre' | translate }} </mat-header-cell>
      <mat-cell fxFlex="70%" *matCellDef="let categoria"> {{categoria.nombre}} </mat-cell>
    </ng-container>

    <!-- Columna número de preguntas -->
    <ng-container matColumnDef="preguntasCount">
      <mat-header-cell fxFlex="22%" *matHeaderCellDef mat-sort-header> {{'encuesta.preguntasasociadas' | translate }} </mat-header-cell>
      <mat-cell fxFlex="22%" *matCellDef="let categoria"> {{categoria.preguntasCount}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)">
    </mat-row>
  </mat-table>

  <mat-paginator #paginator
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 15]"
      [length]="totalItems">
  </mat-paginator>
</div>

<mat-card *ngIf="!loading" class="card" div fxLayout="row" fxLayoutAlign="end center">
    <div class="control-button">
        <button mat-raised-button color="warn" type="button" (click)="back()"><i class="fa fa-arrow-left"></i> {{'encuesta.volver' | translate }}</button>
        <button mat-raised-button color="warn" type="button" (click)="save()"><i class="fa fa-floppy-o"></i> {{'encuesta.guardar' | translate }}</button>
    </div>
</mat-card>
