<app-loading *ngIf="loading"></app-loading>
<form #f="ngForm">
  <mat-card *ngIf="!loading" id="form-card">
    <div class="form-container">
      <mat-form-field>
        <input matInput placeholder="{{'encuesta.titulo' | translate }}"
          id="titulo" 
          type="text" 
          [(ngModel)]="model.titulo" 
          name="titulo"
          required
        >
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="{{'encuesta.descripcion' | translate }}"
          id="descripcion" 
          type="text" 
          [(ngModel)]="model.descripcion" 
          name="descripcion">
      </mat-form-field>

      <mat-form-field>
        <mat-select [(ngModel)]="model.tipoEncuestaId" name="tipoEncuestaId" placeholder="{{'encuesta.tipoencuesta' | translate }}" required>   
            <mat-option *ngFor="let tipo of tiposencuesta" [value]="tipo.id">{{tipo.nombre}}</mat-option>                 
        </mat-select>
      </mat-form-field> 

      <mat-form-field>
        <mat-select [(ngModel)]="model.idiomaId" name="idiomaId" placeholder="{{'encuesta.idioma' | translate }}" required>   
            <mat-option *ngFor="let idioma of idiomas" [value]="idioma.id">{{idioma.nombre}}</mat-option>                 
        </mat-select>
      </mat-form-field>      
    </div>
  </mat-card>

  <mat-card *ngIf="!loading" class="card" div fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button class="control-button" color="warn" type="button" (click)="cancel()"><i class="fa fa-arrow-left"></i> {{'encuesta.volver' | translate }}</button>
    <button mat-raised-button class="control-button" color="warn" type="button" (click)="create()" [disabled]="!f.form.valid">{{'encuesta.crearencuesta' | translate }}</button>
  </mat-card>
</form>