<h2 mat-dialog-title>{{ 'revisiones.revisionesaprobacion' | translate }}</h2>
<mat-dialog-content>
  <div class="generic-text">
    <p>Esto hará que la encuesta pase a estado pre-activo hasta que el administrador la lance.</p>
  </div>
  <div class="generic-text">
    <p>{{ 'revisiones.confirmarpregunta' | translate }}</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="accent" mat-dialog-close [mat-dialog-close]="true">{{ 'revisiones.confirmar' | translate }}</button>
  <button mat-button color="accent" mat-dialog-close><i class="fa fa-times"></i> {{ 'revisiones.cancelar' | translate }}</button>
</mat-dialog-actions>