<h2 mat-dialog-title>No es posible eliminar</h2>
<mat-dialog-content>No es posible eliminar este administrador, dado que tiene preguntas y encuestas asignadas.</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>DE ACUERDO</button>
</mat-dialog-actions>