<h2 mat-dialog-title>{{'encuesta.titulonuevoslideres' | translate }}</h2>
<mat-dialog-content>
  <div class="generic-text">
    <p>{{'encuesta.textonuevoslideres' | translate }}</p>
  </div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'encuesta.nuevoslideres' | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p *ngFor="let lider of data.lideres">{{ lider.nombre }} ({{ lider.email | lowercase }})</p>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="generic-text">
    <p>{{'encuesta.preguntanuevoslideres' | translate }}</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="accent" mat-dialog-close [mat-dialog-close]="true">{{'encuesta.aceptarmay' | translate }}</button>
  <button mat-button color="accent" mat-dialog-close><i class="fa fa-times"></i> {{'encuesta.cancelar' | translate }}</button>
</mat-dialog-actions>