.control {
  text-align: right;
  margin-top: 15px;
}

app-cuestion {
  margin-bottom: 10px;
}

.margin-cuestion {
    margin-left: 8px;
    margin-right: 8px;
}

.margin-pregunta {
    margin-left: 15px;
    margin-right: 15px;
}

.text-full-width {
  width: 100%;
}

.texto {
  margin-top: 15px;
  font-size: medium;
  font-weight: bold;
}

.textoDescripcion {
  margin-top: 5px;
  font-size: small;
  font-weight: lighter;
}

mat-slider {
  width: 40%;
}

.result {
  padding-top: 25px;
}

.encuesta-no-activa-message {
  text-align: center;
  font-weight: bold;
}

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
  font-weight: normal;
}

.noShowPregunta {
    display: none;
}
.showPregunta {
    display: block;
}

.clearleft {
    clear: left;
    float: none;
    display: block;
}

.m-0 {
    margin: .5rem;
}
.m-1 {
    margin: 1rem;
}
.m-2 {
    margin: 1.5rem;
}
.m-3 {
    margin: 2rem;
}
.m-4 {
    margin: 2.5rem;
}
.m-0 {
    margin: .5rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 1.5rem;
}

.mb-3 {
    margin-bottom: 2rem;
}

.mb-4 {
    margin-bottom: 2.5rem;
}

.cuestionario-container {
    position: absolute;
    top: 66px;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: calc(100vh - 68px) !important;
    
}

.combo-ir-a {
    display: none;
}

.wrap-mat-radio-label {
    white-space: normal;
}

@media (max-width: 767px) {
    .barra-lateral {
        display:none;
    }
    .combo-ir-a {
        display: inline-block;
    }
}

.blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }


