<app-loading *ngIf="loading"></app-loading>
<div *ngIf="!loading && !usuario && (!encuesta.estado || encuesta.estado.id != 3)">    
  <p class="encuesta-no-activa-message">{{ 'cuestionario.noactiva' | translate }}</p>  
</div>
<mat-drawer-container class="cuestionario-container" *ngIf="!loading && (encuesta.estado.id == 3 || usuario)">
    <mat-drawer mode="side" opened="true" class="barra-lateral">        
        <div  >
            <mat-list role="list" id="preguntas" class="m-4">
                <button mat-mini-fab *ngFor="let pregunta of vPreguntaMostrada" class="clearleft mb-4" (click)="showPregunta(pregunta)" [disabled] ="!TieneRespuesta()"> {{ pregunta }} </button>
            </mat-list>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <p *ngIf="encuesta.estado.id != 3" class="encuesta-no-activa-message blink_me">Preview</p>  
        <br />
        <!-- Pregunta inicial de cargo del encuestado-->
        <div fxLayout="row" fxLayoutAlign="space-around center" *ngIf="!begining">
            <!-- Pregunta Inicial -->
            <mat-card fxFlex.gt-xs="55" id="mcPreguntaInicial" [class.showPregunta] = "preguntaActual === 0" [class.noShowPregunta]="preguntaActual != 0">

                <mat-card-header>
                    <mat-card-title>
                        <p class="texto">1.- {{ encuesta.titulo }}</p>
                    </mat-card-title>
                    <mat-card-subtitle>
                        <p>{{ 'cuestionario.preguntainicial' | translate }}</p>
                    </mat-card-subtitle>
                </mat-card-header>
               
                <mat-card-content class="margin-cuestion">
                    <form #ubicacionForm="ngForm" fxLayout="column" fxLayoutAlign="space-around" name="ngForm">
                        <mat-form-field>
                            <mat-select [(ngModel)]="model.nivel1" (change)="onNivel1Change()" name="nivel1" placeholder="{{ 'cuestionario.nivel1' | translate }}" [disabled]="loading" required>
                                <mat-option *ngFor="let nivel of nivel1"
                                            [value]="nivel">
                                    {{nivel}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select [(ngModel)]="model.nivel2" (change)="onNivel2Change()" name="nivel2" placeholder="{{ 'cuestionario.nivel2' | translate }}" [disabled]="loading">
                                <mat-option *ngFor="let nivel of nivel2"
                                            [value]="nivel">
                                    {{nivel}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select [(ngModel)]="model.nivel3" (change)="onNivel3Change()" name="nivel3" placeholder="{{ 'cuestionario.nivel3' | translate }}" [disabled]="loading">
                                <mat-option *ngFor="let nivel of nivel3"
                                            [value]="nivel">
                                    {{nivel}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select [(ngModel)]="model.nivel4" name="nivel4" placeholder="{{ 'cuestionario.nivel4' | translate }}" [disabled]="loading">
                                <mat-option *ngFor="let nivel of nivel4"
                                            [value]="nivel">
                                    {{nivel}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-card-actions>
                            <div class="control">
                                <button mat-raised-button color="warn" (click)="irSiguiente(0)" [disabled]="isLevelsNotCompleted()" >{{ 'cuestionario.siguiente' | translate }} </button>
                            </div>
                        </mat-card-actions>

                    </form>
                </mat-card-content>
                
            </mat-card>
        </div>
        <!-- Preguntas de la encuesta -->
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <div fxFlex.gt-xs="55">
                <form #preguntasForm="ngForm" fxLayout="column" fxLayoutAlign="space-around" name="ngForm">
                    <mat-card *ngFor="let pregunta of preguntas" [class.showPregunta]="preguntaActual === pregunta.id" [class.noShowPregunta]="preguntaActual !== pregunta.id">
                        <mat-card-header>
                            <p class="texto">{{ pregunta.texto }}</p>
                        </mat-card-header>

                        <mat-card-content class="margin-pregunta">
                            <p class="textoDescripcion">{{ pregunta.descripcion }}</p>
                            <mat-form-field *ngIf="pregunta.tipoPregunta.id === 0 || pregunta.tipoPregunta.id === 3" class="text-full-width">
                                <textarea matInput
                                          placeholder="{{ 'cuestionario.turespuesta' | translate }}"
                                          matTextareaAutosize
                                          matAutosizeMinRows="2"
                                          matAutosizeMaxRows="5"
                                          maxlength="511"
                                          [(ngModel)]="pregunta.respuesta.texto"
                                          name="texto"></textarea>
                            </mat-form-field>

                            <div *ngIf="pregunta.tipoPregunta.id === 1">
                                <mat-radio-group class="example-radio-group" matInput fxLayout="row wrap" fxLayoutAlign="space-evenly center" [(ngModel)]="pregunta.respuesta.opcionId" name="opcionId{{pregunta.id}}" required>
                                    <mat-radio-button *ngFor="let opcion of pregunta.opciones" fxFlex=70 [value]="opcion.id" [checked]="true" (click)="$event.stopPropagation()" class="wrap-auto">
                                        <div *ngIf="!!opcion.imagenContain">
                                            <img [src]="opcion.imagenCab + opcion.imagenContain" width="50" height="50" /><span class="wrap-mat-radio-label">{{opcion.texto}}</span>
                                        </div>
                                        <div *ngIf="!opcion.imagenContain">
                                            <span class="wrap-mat-radio-label">{{opcion.texto}}</span>
                                        </div>
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>

                            <bar-rating *ngIf="pregunta.tipoPregunta.id === 2" fxLayout="center center"
                                        name="rating" [max]="pregunta.escala" [theme]="'fontawesome'"
                                        [(ngModel)]="pregunta.respuesta.escala" required>
                            </bar-rating>

                            <div fxLayout="column">
                                <p fxFlex=100></p>
                            </div>
                            <div fxLayout="column">
                                <p fxFlex=100></p>
                            </div>
                        </mat-card-content>

                        <mat-card-actions>
                            <mat-divider></mat-divider>
                            <div class="control">
                                <mat-form-field class="combo-ir-a">
                                    <mat-select placeholder="{{ 'cuestionario.irpregunta' | translate }}" [(ngModel)]="PreguntaActual" name="IrPregunta" [disabled] ="!TieneRespuesta()">
                                        <mat-option *ngFor="let p of vPreguntaMostrada" [value]="p" (onSelectionChange)="change($event)">
                                            {{ p.toString() }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <button mat-raised-button color="warn" (click)="irAnterior(pregunta.orden)" [disabled] ="!TieneRespuesta()">{{ 'cuestionario.anterior' | translate }}</button>
                                <button mat-raised-button color="warn" (click)="irSiguiente(pregunta.orden)" [disabled] ="!TieneRespuesta()">{{ 'cuestionario.siguiente' | translate }}</button>
                            </div>
                        </mat-card-actions>
                    </mat-card>
                </form>
            </div>
        </div>
        <!-- Mensaje final -->
        <div fxLayout="row" fxLayoutAlign="space-around center" *ngIf="!begining">
            <mat-card fxFlex.gt-xs="55" [class.showPregunta] = "preguntaActual === 999" [class.noShowPregunta]="preguntaActual != 999">
                <p *ngIf="!success && !fail">{{ 'cuestionario.fin1' | translate }}</p>
                <p *ngIf="!success && !fail">{{ 'cuestionario.fin2' | translate }}</p>
                <p *ngIf="!success && !fail" [innerHtml]="'cuestionario.fin3' | translate"></p>
                <div class="control" *ngIf="!success && !fail && encuesta.estado.id == 3">
                    <mat-form-field class="combo-ir-a">
                        <mat-select placeholder="{{ 'cuestionario.irpregunta' | translate }}" [(ngModel)]="PreguntaActual" name="IrPregunta" [disabled] ="!TieneRespuesta()">
                            <mat-option *ngFor="let p of vPreguntaMostrada" [value]="p" (onSelectionChange)="change($event)">
                                {{ p.toString() }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <button mat-raised-button color="warn" type="button" (click)="enviarRespuestas()" [disabled]="!preguntasForm.form.valid">{{ 'cuestionario.enviar' | translate }}</button>
                </div>
                <div class="result" *ngIf="success">
                    <h4>{{ 'cuestionario.encuestaenviada' | translate }}</h4>
                </div>
                <div class="result" *ngIf="fail">
                    <h4>{{ 'cuestionario.encuestaerrorenvio' | translate }}</h4>
                </div>
            </mat-card>
        </div>
    </mat-drawer-content>
</mat-drawer-container>