<app-loading *ngIf="loading"></app-loading>
<div *ngIf="!loading && (!encuesta.estado || encuesta.estado.id != 3)">
  <p class="encuesta-no-activa-message">Esta encuesta no se encuentra activa.</p>
</div>
<mat-horizontal-stepper *ngIf="!!encuesta.estado && encuesta.estado.id == 3" [linear]="true" Scrollable >
  <mat-step label="Ubicación" [stepControl]="ubicacionForm" [completed]="false">
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <mat-card fxFlex.gt-xs="55">  
        <p>{{ encuesta.descripcion }}</p>
        <p>Antes de continuar, y a efectos meramente estadísticos, por favor indica tu área de negocio.</p>
        <form #ubicacionForm="ngForm" fxLayout="column" fxLayoutAlign="space-around">
          <mat-form-field>
            <mat-select [(ngModel)]="model.nivel1" (change)="onNivel1Change()" name="nivel1" placeholder="Nivel1" [disabled]="loading" required>
              <mat-option
                *ngFor="let nivel of nivel1"
                [value]="nivel">{{nivel}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select [(ngModel)]="model.nivel2" (change)="onNivel2Change()" name="nivel2" placeholder="Nivel2" [disabled]="loading">
              <mat-option
                *ngFor="let nivel of nivel2"
                [value]="nivel">{{nivel}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select [(ngModel)]="model.nivel3" (change)="onNivel3Change()" name="nivel3" placeholder="Nivel3" [disabled]="loading">
              <mat-option
                *ngFor="let nivel of nivel3"
                [value]="nivel">{{nivel}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select [(ngModel)]="model.nivel4" name="nivel4" placeholder="Nivel4" [disabled]="loading">
              <mat-option
                *ngFor="let nivel of nivel4"
                [value]="nivel">{{nivel}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="control">
            <button mat-raised-button color="primary" matStepperNext type="button" (click)="scrollToTop('preguntas')">Siguiente</button>
          </div>
        </form>
      </mat-card>
    </div>
  </mat-step>
  <mat-step id="preguntas" *ngFor="let pregunta of preguntas" [stepControl]="preguntasForm" [completed]="false" interacted="true">
   <div fxLayout="row" fxLayoutAlign="space-around center">
      <div fxFlex.gt-xs="55">
        <form #preguntasForm="ngForm" fxLayout="column" fxLayoutAlign="space-around">

          <!--  <mat-list-item *ngFor="let pregunta of preguntas" > -->
              <p id="pregunta.id" class="texto">{{ pregunta.texto }}</p>
              <p class="textoDescripcion">{{ pregunta.descripcion }}</p>
              <mat-form-field *ngIf="pregunta.tipoPregunta.id == 0" class="text-full-width">
                <textarea matInput 
                  placeholder="Tu respuesta"
                  matTextareaAutosize
                  matAutosizeMinRows="2"
                  matAutosizeMaxRows="5"
                  [(ngModel)]="pregunta.respuesta.texto" 
                  name="texto" required></textarea>
              </mat-form-field>
              <div *ngIf="pregunta.tipoPregunta.id == 1">
                <mat-radio-group class="example-radio-group" matInput fxLayout="row wrap" fxLayoutAlign="space-evenly center" [(ngModel)]="pregunta.respuesta.opcionId" name="opcionId{{pregunta.id}}" required>
                  <mat-radio-button *ngFor="let opcion of pregunta.opciones"  fxFlex=70 [value]="opcion.id" [checked]="true" (click)="$event.stopPropagation()">
                    <div *ngIf="!!opcion.imagenContain">
                      <img [src]="'data:image/png;base64,'+opcion.imagenContain" width="50" height="50"/>     {{opcion.texto}}
                    </div>
                    <div *ngIf="!opcion.imagenContain">
                      {{opcion.texto}}
                    </div>
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            <!--   <mat-slider *ngIf="pregunta.tipoPregunta.id == 2"
                min="0"
                max="1"
                step="0.2"
                name="escala"
                [(ngModel)]="pregunta.respuesta.escala"
                required
              ></mat-slider> {{ (pregunta.respuesta.escala * 5) | number }} -->
              <bar-rating *ngIf="pregunta.tipoPregunta.id == 2" fxLayout="center center"
                          name="rating" [max]="pregunta.escala" [theme]="'fontawesome'"
                          [(ngModel)]="pregunta.respuesta.escala" required>
              </bar-rating>
              <div fxLayout="column">
                <p fxFlex=100></p>
                </div>
                <div fxLayout="column">
                <p fxFlex=100></p>
                </div>
           <!-- </mat-list-item>
            <mat-divider></mat-divider> -->
          <div class="control"> 
            <button mat-raised-button color="primary" matStepperNext type="button" (click)="scrollToTop('pregunta.id')" [disabled]="!preguntasForm.form.valid">Siguiente</button>
          </div>
        </form>
      </div>
    </div>
  </mat-step>
  <mat-step label="Finalizado" [completed]="false">
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <mat-card fxFlex.gt-xs="55">
          <p>Muchas gracias, has finalizado la encuesta, presiona en el siguiente enlace para enviar tus respuestas.</p>
          <p>Te recordamos que esta aplicación no guarda ningún dato referido a tu identidad.</p>
          <p>Tu respuesta en <strong>completamente anónima.</strong></p>
          <div class="control" *ngIf="!success && !fail">
            <button mat-raised-button color="primary" type="button" (click)="enviarRespuestas()">Enviar respuestas</button>
          </div>
          <div class="result" *ngIf="success">
            <h4>¡Muchas gracias! Tu respuesta ha sido enviada.</h4>
          </div>
          <div class="result" *ngIf="fail">
            <h4>¡Vaya! Ha ocurrido un error al enviar la respuesta, por favor comunícaselo al administrador de la encuesta.</h4>
          </div>
      </mat-card>
    </div>
  </mat-step>
</mat-horizontal-stepper>


  
