<h2 mat-dialog-title>{{ 'informes.respuestasa' | translate: {'pregunta':data.pregunta} }} </h2>
<mat-dialog-content>
  <div *ngFor="let respuesta of data.respuestas">
    <p>- {{ respuesta.texto }}</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>OK</button>
</mat-dialog-actions>