<app-loading *ngIf="loading"></app-loading>
<mat-toolbar>
  <span>{{'encuesta.estadoencuestas' | translate }}</span>
  <span class="fill-space"></span>
  <button mat-raised-button color="warn" (click)="newEncuesta()">
    <i class="fa fa-plus"></i> {{'encuesta.nuevaencuesta' | translate }}
  </button>
</mat-toolbar>


<div fxLayout="row" fxLayoutAlign="space-around center">
    <div class="mat-elevation-z8" fxFlex.gt-xs="98">
        <div class="header">
            <mat-form-field class="full-width">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'encuesta.filtro' | translate }}" class="filtro-tabla">
            </mat-form-field>
        </div>

        <mat-table [hidden]="loading" #table [dataSource]="dataSource" matSort>

            <!-- Columna titulo -->
            <ng-container matColumnDef="titulo">
                <mat-header-cell fxFlex="18" *matHeaderCellDef mat-sort-header>{{'encuesta.titulo' | translate }}</mat-header-cell>
                <mat-cell fxFlex="18" *matCellDef="let encuesta"><strong>{{encuesta.titulo}}</strong></mat-cell>
            </ng-container>

            <!-- Columna estado -->
            <ng-container matColumnDef="estado">
                <mat-header-cell fxFlex="8" *matHeaderCellDef mat-sort-header>{{'encuesta.estado' | translate }}</mat-header-cell>
                <mat-cell fxFlex="8" *matCellDef="let encuesta">{{encuesta.estado.descripcion}}</mat-cell>
            </ng-container>

            <!-- Columna descripcion -->
            <ng-container matColumnDef="descripcion">
                <mat-header-cell fxFlex="25" *matHeaderCellDef mat-sort-header>{{'encuesta.descripcion' | translate }}</mat-header-cell>
                <mat-cell fxFlex="25" *matCellDef="let encuesta">{{encuesta.descripcion}}</mat-cell>
            </ng-container>

            <!-- Columna administrador -->
            <ng-container matColumnDef="administrador">
                <mat-header-cell fxFlex="15" *matHeaderCellDef>{{'encuesta.administrador' | translate }}</mat-header-cell>
                <mat-cell fxFlex="15" *matCellDef="let encuesta">{{encuesta.usuario.username}}</mat-cell>
            </ng-container>

            <!-- Columna geografia -->
            <ng-container matColumnDef="geografia">
                <mat-header-cell fxFlex="10" *matHeaderCellDef>{{'encuesta.geografia' | translate }}</mat-header-cell>
                <mat-cell fxFlex="10" *matCellDef="let encuesta">{{encuesta.usuario.geografia}}</mat-cell>
            </ng-container>

            <!-- Columna idioma -->
            <ng-container matColumnDef="idioma">
                    <mat-header-cell fxFlex="10" *matHeaderCellDef>{{'encuesta.idioma' | translate }}</mat-header-cell>
                    <mat-cell fxFlex="10" *matCellDef="let encuesta">{{encuesta.idioma.nombre}}</mat-cell>
            </ng-container>            

            <!-- Columna acciones -->
            <ng-container matColumnDef="actions">
                <mat-header-cell fxFlex="12" *matHeaderCellDef>{{'encuesta.acciones' | translate }}</mat-header-cell>
                <mat-cell fxFlex="12" *matCellDef="let encuesta">
                    <button matTooltip="{{'encuesta.enlace' | translate }}" mat-button color="primary" (click)="gotolink(encuesta)" [contextMenu]="basicMenu" [contextMenuSubject]="encuesta"><i class="fa fa-link"></i></button>
                    <button matTooltip="{{'encuesta.activar' | translate }}" *ngIf="encuesta.estado.id == 2" mat-button color="primary" (click)="activate(encuesta)"><i class="fa fa-flag"></i></button>                    
                    <button matTooltip="{{'encuesta.editar' | translate }}" *ngIf="encuesta.estado.id == 0 || encuesta.estado.id == 1|| encuesta.estado.id == 2|| encuesta.estado.id == 3" mat-button color="primary" (click)="edit(encuesta)"><i class="fa fa-pencil"></i></button>
                    <button matTooltip="{{'encuesta.borrar' | translate }}" *ngIf="encuesta.estado.id == 0 || encuesta.estado.id == 1 || encuesta.estado.id == 2 || encuesta.estado.id == 5" mat-button color="primary" (click)="openDeleteDialog(encuesta)"><i class="fa fa-trash"></i></button>                    
                    <button matTooltip="{{'encuesta.cerrar' | translate }}" *ngIf="encuesta.estado.id == 3" mat-button color="primary" (click)="openCloseDialog(encuesta)"><i class="fa fa-lock"></i></button>
                    <button matTooltip="{{'encuesta.pasarhistorico' | translate }}" *ngIf="encuesta.estado.id == 4" mat-button color="primary" (click)="toHistorical(encuesta)"><i class="fa fa-history"></i></button>
                    <button matTooltip="{{'encuesta.copiar' | translate }}" mat-button color="primary" (click)="copyEncuesta(encuesta)"><i class="fa fa-copy"></i></button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <context-menu>
            <ng-template contextMenuItem (execute)="copylink($event.item)">
                {{'encuesta.copiarenlace' | translate }}                
            </ng-template>
        </context-menu>

        <mat-paginator #paginator
                       [pageSize]="5"
                       [pageSizeOptions]="[5, 10, 20]"
                       [length]="totalItems">
        </mat-paginator>
    </div>
</div>

