<app-loading *ngIf="loading"></app-loading>
<div *ngIf="loadingDiv">

  <div fxLayout="column">


    <div fxLayout.lt-sm="column">
      <div>
        <div *ngIf="!informe" class="no-informe">
          <p>{{ 'informes.cargainforme' | translate }}</p>
        </div>
        <div *ngIf="!!informe">
          <div *ngIf="!loading" class="categorias-chart-container">
            <mat-chip-list>
              <button mat-raised-button color="warn" type="button" (click)="back()"> <i class="fa fa-arrow-left"></i> {{'informes.volver' | translate }}</button>
              <mat-chip color="primary" selected="true">{{ 'informes.resultadoscategoria' | translate }}</mat-chip>
            </mat-chip-list>
            <canvas id = "canvas" name ="canvas" baseChart [datasets]="categoriasChartData.datasets" [labels]="categoriasChartData.categorias" [options]="categoriasChartData.options"
              [colors]="categoriasChartData.colors" [legend]="categoriasChartData.legend" [chartType]="categoriasChartData.type"
              (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
            </canvas>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>