@media only screen and (max-width: 900px) {
  .resultado-pregunta-container {
    padding: 10px;
    font-size: 24px;
    color: #00a68b;
  }
  .texto-pregunta-container {
    padding: 30px;
    font-size: 12px;
    color: #000000;
  }
  .porcentaje-seleccion {
    padding: 10px;
    
    color: #00a68b;
  }
  .peso-pregunta-container {
    padding: 10px;
    font-size: 24px;
    color: #334487;
  }
  .seleccion-chart-container {
    width: 250px;
  }
}

@media only screen and (min-width: 901px) {
  .resultado-pregunta-container {
    width: 140px;
    font-size: 36px;
    color: #00a68b;
  }
  .texto-pregunta-container {
   /* padding: 60px;*/
    width: 900px;
    font-size: 25px;
    color: #000000;
  }
  .porcentaje-seleccion {
    font-size: 20px;
    size: 200px;
    color: #00a68b;
  }
  .porcentaje-seleccion-texto {
    margin-left: 5px;
    font-size: 20px;
  }
  .peso-pregunta-container {
    padding: 20px;
    font-size: 42px;
    color: #334487;
  }
  .seleccion-chart-container {
    width: 325px;
  }
}

.datos-container mat-chip {
  margin: 10px 0;
}

.datos-container p {
  margin: 0 5px;
}

.resultado-pregunta-container-text {
  font-size: 14px;
}

.resultados-seleccion-container {
  margin: 0px 140px;
}