<app-loading *ngIf="loading"></app-loading>
<mat-toolbar>
  <span>{{ 'informeslista.informe' | translate }}</span>
  <span class="fill-space"></span>
</mat-toolbar>

<div fxLayout="row" fxLayoutAlign="space-around center">
  <div class="mat-elevation-z8" fxFlex.gt-xs="98">
    <div class="header">
        <mat-form-field>
          <mat-select [(ngModel)]="selectedTipo"  (change)="applyFilter($event.value)" name="tipo" placeholder="{{ 'informestipo.tipos' | translate }}" [disabled]="loading">
              <mat-option
                *ngFor="let tipo of tipos"
                [value]="tipo">{{tipo}}
              </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="warn" (click)="loadInforme()" type="button">{{ 'informes.cargarinforme' | translate }}</button>
    </div>

    <mat-table [hidden]="loading" #table [dataSource]="dataSource" matSort>

      <!-- Columna check -->
      <ng-container matColumnDef="select">
          <mat-header-cell fxFlex="4%" *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-header-cell fxFlex="4%" *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </mat-header-cell>
        </ng-container>

      <!-- Columna titulo -->
      <ng-container matColumnDef="titulo">
        <mat-header-cell fxFlex="18" *matHeaderCellDef mat-sort-header>{{ 'informeslista.titulo' | translate }}</mat-header-cell>
        <mat-cell fxFlex="18" *matCellDef="let encuesta"><strong>{{encuesta.titulo}}</strong></mat-cell>
      </ng-container>

      <!-- Columna estado -->
      <ng-container matColumnDef="estado">
        <mat-header-cell fxFlex="15" *matHeaderCellDef mat-sort-header>{{ 'informeslista.estado' | translate }}</mat-header-cell>
        <mat-cell fxFlex="15" *matCellDef="let encuesta">{{encuesta.estado.descripcion}}</mat-cell>
      </ng-container>

      <!-- Columna descripcion -->
      <ng-container matColumnDef="descripcion">
        <mat-header-cell fxFlex="32" *matHeaderCellDef mat-sort-header>{{ 'informeslista.descripcion' | translate }}</mat-header-cell>
        <mat-cell fxFlex="32" *matCellDef="let encuesta">{{encuesta.descripcion}}</mat-cell>
      </ng-container>

      <!-- Columna administrador -->
      <ng-container matColumnDef="administrador">
        <mat-header-cell fxFlex="15" *matHeaderCellDef mat-sort-header>{{ 'informeslista.administrador' | translate }}</mat-header-cell>
        <mat-cell fxFlex="15" *matCellDef="let encuesta">{{encuesta.usuario.username}}</mat-cell>
      </ng-container>

      <!-- Columna administrador -->
      <ng-container matColumnDef="geografia">
        <mat-header-cell fxFlex="15" *matHeaderCellDef mat-sort-header>{{ 'informeslista.geografia' | translate }}</mat-header-cell>
        <mat-cell fxFlex="15" *matCellDef="let encuesta">{{encuesta.usuario.geografia}}</mat-cell>
      </ng-container>

      

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    

    <mat-paginator #paginator 
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 20]"
        [length]="totalItems">
    </mat-paginator>
   
  </div>
</div>

