<app-loading *ngIf="loading"></app-loading>
<div *ngIf="!loading">

  <div fxLayout="column">

    <app-informe-selector [encuesta]="model" (onSelect)="informeSelected($event)"></app-informe-selector>

    <div fxLayout.lt-sm="column">

      <div fxLayout="column" style="margin: 10px;width: 200px;">
        <mat-list class="dg-list">
          <mat-list-item>
            <span class="dg-label">{{ 'informes.titulo' | translate }} </span>
          </mat-list-item>
          <mat-list-item>{{model.titulo}}</mat-list-item>
          <mat-list-item>
            <span class="dg-label">{{ 'informes.categorias' | translate }} </span>{{model.categorias.length}}</mat-list-item>
          <mat-list-item>
            <span class="dg-label">{{ 'informes.preguntas' | translate }} </span>{{model.preguntas.length}}</mat-list-item>
          <mat-list-item>
            <span class="dg-label">{{ 'informes.administrador' | translate }} </span>
          </mat-list-item>
          <mat-list-item>{{model.usuario.email}}</mat-list-item>
        </mat-list>
      </div>
      <div class="tabs-container">
        <mat-tab-group>
          <mat-tab label="{{ 'informes.datosgenerales' | translate }}">
            <div>
              <div *ngIf="!informe" class="no-informe">
                <p>{{ 'informes.cargainforme' | translate }}</p>
              </div>
              <div *ngIf="!!informe">
                <div class="categorias-chart-container">
                  <mat-chip-list>
                    <mat-chip color="primary" selected="true">{{ 'informes.resultadoscategoria' | translate }}</mat-chip>
                  </mat-chip-list>
                  <canvas baseChart [datasets]="categoriasChartData.datasets" [labels]="categoriasChartData.categorias" [options]="categoriasChartData.options"
                    [colors]="categoriasChartData.colors" [legend]="categoriasChartData.legend" [chartType]="categoriasChartData.type"
                    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                  </canvas>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="{{ 'informes.participacion' | translate }}">
            <div  fxLayout="column">
              <div *ngIf="!participacion" class="no-informe">
                 <p>{{ 'informes.cargainforme' | translate }}</p>
              </div>
              <div *ngFor="let participante of participacion">
                <app-informe-participacion [participante]="participante"></app-informe-participacion>
            </div>
          </div>
          </mat-tab>
          <mat-tab *ngFor="let categoria of model.categorias" label="{{categoria.nombre}}">
            <app-informe-categoria [informe]="informe" [categoria]="categoria"></app-informe-categoria>
          </mat-tab>
        </mat-tab-group>
      </div>

    </div>

  </div>

</div>