<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start start">
  <div *ngIf="resultadoPregunta.tipoPregunta != 'Texto' && resultadoPregunta.tipoPregunta != 'Comentario'" class="resultado-pregunta-container">
    <p>{{resultadoPregunta.porcentaje | number:'1.0-2'}}%</p>
    <p class="resultado-pregunta-container-text">{{ 'informes.promedio' | translate }}</p>
  </div>
  <div *ngIf="resultadoPregunta.tipoPregunta == 'Texto' || resultadoPregunta.tipoPregunta == 'Comentario'" class="resultado-pregunta-container">
      <button mat-raised-button color="warn" fxLayoutAlign="center center" (click)="showRespuestasTexto()">{{ 'informes.respuestas' | translate }}</button>
    </div>
  <div class="datos-container">
    <p class="texto-pregunta-container"><strong>{{resultadoPregunta.texto}}</strong></p>
  </div>
  
</div>
<div class="resultados-seleccion-container" *ngIf="resultadoPregunta.tipoPregunta == 'Seleccion'" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center">
  <div>
  </div>
  <div class="datos-container">
    <div *ngFor="let ro of resultadoPregunta.resultadoOpciones">
      <p>
        <span class="porcentaje-seleccion"><strong>{{ro.porcentaje | number:'2.2-2'}}%</strong></span>
        <span class="porcentaje-seleccion-texto" >{{ro.texto}} ({{ro.recuento}} {{ 'informes.selecciones' | translate }})</span>
      </p>
    </div>
  </div>
 <!-- <div class="seleccion-chart-container">
    <canvas baseChart
      [data]="seleccionChartData.selecciones"
      [labels]="seleccionChartData.opciones"
      [options]="seleccionChartData.options"
      [chartType]="seleccionChartData.type"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)">
    </canvas> 
  </div>-->
</div>
<hr>