<div fxLayout="column">
  <div *ngIf="!participante" class="no-informe">
    <p>{{ 'informes.cargainforme' | translate }}</p>
  </div>
  <div *ngIf="!!participante" class="informe-container">
    <mat-chip-list>
      <mat-chip class="informe-container" color="primary" selected="true">{{ 'informes.nivel' | translate }} {{participante.nombreTarta}}</mat-chip>

    </mat-chip-list>
    <div>
      <div class="chart-container" fxLayout="row" fxLayoutAlign="space-around">
        <canvas baseChart [data]="participantesChartData.participantes" [labels]="participantesChartData.unidades" [options]="participantesChartData.options"
          [chartType]="participantesChartData.type" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
        </canvas>
        <p class="resultado-categoria-container">{{participante.porcentaje | number:'1.0-2'}}%</p>
      </div>
    </div>
  </div>
</div>