<div fxLayout="column">
  <div *ngIf="!informe" class="no-informe">
    <p>{{ 'informes.cargainforme' | translate }}</p>
  </div>
  <div *ngIf="!!informe" class="informe-container">
    <mat-chip-list>
      <mat-chip color="primary" selected="true">{{categoria.nombre}}</mat-chip>
    </mat-chip-list>
    <div *ngIf="mostrarBarra" fxLayout="row" class="categoria-chart-container">
      <div class="resultado-categoria-container">
        <span>{{resultadoCategoria | number}}%</span>
      </div>
      <div  fxLayout="column" fxFill>
        <canvas baseChart width="12" height="1"
          [datasets]="categoriaChartData.datasets"
          [labels]="categoriaChartData.categoria"
          [options]="categoriaChartData.options"
          [colors]="categoriaChartData.colors"
          [legend]="categoriaChartData.legend"
          [chartType]="categoriaChartData.type">
        </canvas>
      </div>
    </div>    
    <div *ngFor="let resultadoPregunta of resultadoPreguntas"  class="pregunta-container">
      <app-informe-pregunta [resultadoPregunta]="resultadoPregunta" [informe]="informe"></app-informe-pregunta>
    </div>
  </div>
</div>