<app-loading *ngIf="loading"></app-loading>
<mat-toolbar>
  <span>{{ 'informeslista.informe' | translate }}</span>
  <span class="fill-space"></span>
</mat-toolbar>

<div fxLayout="row" fxLayoutAlign="space-around center">
  <div class="mat-elevation-z8" fxFlex.gt-xs="98">
    <div class="header">
      <mat-form-field class="full-width">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'informeslista.filtro' | translate }}" class="filtro-tabla">
      </mat-form-field>
    </div>

    <mat-table [hidden]="loading" #table [dataSource]="dataSource" matSort>

      <!-- Columna titulo -->
      <ng-container matColumnDef="titulo">
        <mat-header-cell fxFlex="18" *matHeaderCellDef mat-sort-header>{{ 'informeslista.titulo' | translate }}</mat-header-cell>
        <mat-cell fxFlex="18" *matCellDef="let encuesta"><strong>{{encuesta.titulo}}</strong></mat-cell>
      </ng-container>

      <!-- Columna estado -->
      <ng-container matColumnDef="estado">
        <mat-header-cell fxFlex="15" *matHeaderCellDef mat-sort-header>{{ 'informeslista.estado' | translate }}</mat-header-cell>
        <mat-cell fxFlex="15" *matCellDef="let encuesta">{{encuesta.estado.descripcion}}</mat-cell>
      </ng-container>

      <!-- Columna descripcion -->
      <ng-container matColumnDef="descripcion">
        <mat-header-cell fxFlex="32" *matHeaderCellDef mat-sort-header>{{ 'informeslista.descripcion' | translate }}</mat-header-cell>
        <mat-cell fxFlex="32" *matCellDef="let encuesta">{{encuesta.descripcion}}</mat-cell>
      </ng-container>

      <!-- Columna administrador -->
      <ng-container matColumnDef="administrador">
        <mat-header-cell fxFlex="15" *matHeaderCellDef mat-sort-header>{{ 'informeslista.administrador' | translate }}</mat-header-cell>
        <mat-cell fxFlex="15" *matCellDef="let encuesta">{{encuesta.usuario.username}}</mat-cell>
      </ng-container>

      <!-- Columna administrador -->
      <ng-container matColumnDef="geografia">
        <mat-header-cell fxFlex="15" *matHeaderCellDef mat-sort-header>{{ 'informeslista.geografia' | translate }}</mat-header-cell>
        <mat-cell fxFlex="15" *matCellDef="let encuesta">{{encuesta.usuario.geografia}}</mat-cell>
      </ng-container>

      <!-- Columna acciones -->
      <ng-container matColumnDef="actions">
        <mat-header-cell fxFlex="10" *matHeaderCellDef mat-sort-header>{{ 'informeslista.acciones' | translate }}</mat-header-cell>
        <mat-cell fxFlex="10" *matCellDef="let encuesta">
          <button matTooltip="{{ 'informeslista.informe' | translate }}" *ngIf="encuesta.estado.id == 3 || encuesta.estado.id == 5 || encuesta.estado.id == 4" mat-button color="primary" (click)="gotoinforme(encuesta)" ><i class="fa fa-bar-chart"></i></button>
          <button matTooltip="{{ 'informeslista.informecomparativa' | translate }}" *ngIf="encuesta.estado.id == 3 || encuesta.estado.id == 5 || encuesta.estado.id == 4" mat-button color="primary" (click)="gotoinformecomparativa(encuesta)" ><i class="fa fa-sliders"></i></button>
         <!-- <button *ngIf="encuesta.estado.id == 4" mat-button color="primary"><i class="fa fa-file-pdf-o"></i></button>-->
          <button matTooltip="{{ 'informeslista.exportarcsv' | translate }}" *ngIf="(encuesta.estado.id == 3  || encuesta.estado.id == 5 || encuesta.estado.id == 4 || encuesta.estado.id == 0) && (authService.isAdmin())" mat-button color="primary" (click)="getInformeCsv(encuesta)"><i class="fa fa-file-excel-o"></i></button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator 
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 20]"
        [length]="totalItems">
    </mat-paginator>
  </div>
</div>

