<app-loading *ngIf="loading"></app-loading>
<div fxLayout="row" fxLayoutAlign="space-around center">
    <form #nivelForm="ngForm" fxLayout.lt-md="column" fxLayoutAlign="space-around center">
      <mat-form-field>
        <mat-select [(ngModel)]="selectedNivel1" (change)="onNivel1Change()" name="nivel1" placeholder="{{ 'cuestionario.nivel1' | translate }}" [disabled]="loading">
          <mat-option *ngIf="!this.esLider">{{ 'informes.selecciona' | translate }}</mat-option>
          <mat-option
            *ngFor="let nivel of nivel1"
            [value]="nivel">{{nivel}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select [(ngModel)]="selectedNivel2" (change)="onNivel2Change()" name="nivel2" placeholder="{{ 'cuestionario.nivel2' | translate }}" [disabled]="loading">
          <mat-option *ngIf="!this.esLider || (this.esLider && this.lider.nivel2=='')">{{ 'informes.selecciona' | translate }}</mat-option>
          <mat-option
            *ngFor="let nivel of nivel2"
            [value]="nivel">{{nivel}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select [(ngModel)]="selectedNivel3" (change)="onNivel3Change()" name="nivel3" placeholder="{{ 'cuestionario.nivel3' | translate }}" [disabled]="loading">
          <mat-option *ngIf="!this.esLider || (this.esLider && this.lider.nivel3=='')">{{ 'informes.selecciona' | translate }}</mat-option>
          <mat-option
            *ngFor="let nivel of nivel3"
            [value]="nivel">{{nivel}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select [(ngModel)]="selectedNivel4" name="nivel4" placeholder="{{ 'cuestionario.nivel4' | translate }}" [disabled]="loading">
         <mat-option *ngIf="!this.esLider || (this.esLider && this.lider.nivel4=='')">{{ 'informes.selecciona' | translate }}</mat-option>
          <mat-option
            *ngFor="let nivel of nivel4"
            [value]="nivel">{{nivel}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="warn" (click)="loadInforme()" type="button">{{ 'informes.cargarinforme' | translate }}</button>
    </form>
  </div>