.no-informe {
  margin: 20px;
}

@media only screen and (max-width: 900px) {
  .categoria-chart-container {
    width: 450px;
  }
  .informe-container mat-chip {
    margin: 10px 0 0 10px;
  }
  .pregunta-container {
    margin: 10px;
  }
  .resultado-categoria-container {
    padding: 10px;
    font-size: 24px;
    color: #00a68b;
  }
}

@media only screen and (min-width: 901px) {
  .categoria-chart-container {
    width: 700px;
  }
  .informe-container mat-chip {
    margin: 20px 0 0 20px;
  }
  .pregunta-container {
    margin: 20px;
  }
  .resultado-categoria-container {
    padding: 20px;
    font-size: 42px;
    color: #00a68b;
  }
}
