<app-loading *ngIf="loading"></app-loading>
<div *ngIf="loadingDiv">

  <div fxLayout="column">

    <app-informe-selector [encuesta]="model" (onSelect)="informeSelected($event)"></app-informe-selector>

    <div fxLayout.lt-sm="column">

      <div fxLayout="column" style="margin: 10px;width: 200px;">
        <mat-list class="dg-list">
          <mat-list-item>
            <span class="dg-label">{{ 'informes.titulo' | translate }} </span>
          </mat-list-item>
          <mat-list-item>{{model.titulo}}</mat-list-item>
          <mat-list-item>
            <span class="dg-label">{{ 'informes.categorias' | translate }} </span>{{model.categorias.length}}</mat-list-item>
          <mat-list-item>
            <span class="dg-label">{{ 'informes.preguntas' | translate }} </span>{{model.preguntas.length}}</mat-list-item>
          <mat-list-item>
            <span class="dg-label">{{ 'informes.administrador' | translate }} </span>
          </mat-list-item>
          <mat-list-item>{{model.usuario.email}}</mat-list-item>
        </mat-list>
      </div>
      <div>
        <div *ngIf="!informe" class="no-informe">
          <p>{{ 'informes.cargainforme' | translate }}</p>
        </div>
        <div *ngIf="!!informe">
          <div *ngIf="!loading" class="categorias-chart-container">
            <mat-chip-list>
              <mat-chip color="primary" selected="true">{{ 'informes.resultadoscategoria' | translate }}</mat-chip>
            </mat-chip-list>
            <canvas id = "canvas" name ="canvas" baseChart [datasets]="categoriasChartData.datasets" [labels]="categoriasChartData.categorias" [options]="categoriasChartData.options"
              [colors]="categoriasChartData.colors" [legend]="categoriasChartData.legend" [chartType]="categoriasChartData.type"
              (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
            </canvas>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>