.datos-container {
  margin: 20px;
  text-align: center;
  size:500;
}

.no-informe {
  margin: 20px;
  text-align: center;  
}

.datos-container p {
  font-weight: bold;
  padding: 40px 0;
}

.dg-label {
  font-weight: bold;
  margin-right: 2px;
}

.dg-list mat-list-item {
  height: 24px;
  font-size: 12px;
}

.chart-container {
  margin: 20px 0;
}

.chart-container canvas {
  width: 300px;
  padding-top: 10px;
}

@media only screen and (max-width: 900px) {
  .categorias-chart-container {
    padding: 10px;
    width: 450px;
  }
  .resultado-categoria-container {
    padding: 10px;
    font-size: 24px;
    color: #00a68b;
  }
}

@media only screen and (min-width: 901px) {
  .categorias-chart-container {
    padding: 25px;
    width: 1700px;
  }
  .resultado-categoria-container {
    padding: 20px;
    font-size: 42px;
    color: #00a68b;
  }
}

.tabs-container {
  width: 100%;
}

button {
  margin-right: 10px;
}
