<mat-card class="tipoencuesta-card">
    <mat-card-header class="tipoencuesta-card-header">
        <div class="pull-left tipoencuesta-main-info">
          <mat-card-title>{{tipoencuesta.nombre}}</mat-card-title>
          <mat-card-subtitle *ngIf="loading">{{'tipoencuesta.encuestasloading' | translate }}</mat-card-subtitle>
          <mat-card-subtitle *ngIf="!loading">{{'tipoencuesta.encuestas' | translate }} {{tipoencuesta.encuestacount}}</mat-card-subtitle>
        </div>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>  
    <mat-card-actions class="tipoencuesta-card-actions">
      <button mat-button color="accent" (click)="edit()">{{'tipoencuesta.editar' | translate }}</button>
      <button mat-button color="accent" (click)="openDeleteDialog()">{{'tipoencuesta.eliminar' | translate }}</button>
    </mat-card-actions>
  </mat-card>