<mat-card id="form-card">
    <form #f="ngForm" (ngSubmit)="submit()">
      <div class="form-container">
        <mat-form-field>
          <input matInput placeholder="{{'tipoencuesta.nombre' | translate }}"
            id="nombre" 
            type="text" 
            [(ngModel)]="model.nombre" 
            name="nombre"
            required
          >
        </mat-form-field>
        <div class="form-controls-container">
            <button mat-button color="accent" type="submit" [disabled]="!f.form.valid"><i class="fa fa-floppy-o"></i> {{'tipoencuesta.guardar' | translate }}</button>
            <button mat-button color="accent" type="button" (click)="cancel()"><i class="fa fa-times"></i> {{'tipoencuesta.cancelar' | translate }}</button>
        </div>
      </div>
    </form>
  </mat-card>