<app-loading *ngIf="loading"></app-loading>
<mat-toolbar color="basic">
  <span>{{'tipoencuesta.titulotipoencuesta' | translate }}</span>
  <span class="fill-space"></span>
  <button mat-raised-button color="warn" (click)="newTipoEncuesta()">
    <i class="fa fa-plus"></i> {{'tipoencuesta.nuevotipoencuesta' | translate }}
  </button>
</mat-toolbar>
<div *ngIf="!loading">
  <div *ngIf="!tiposencuesta">
    <div>
      <p class="no-tipoencuesta">{{'tipoencuesta.notipoencuesta' | translate }}</p>
    </div>
  </div>
  <div *ngIf="!!tiposencuesta">
    <app-tipoencuesta-item *ngFor="let tipo of tiposencuesta" [tipoencuesta]="tipo" (onDelete)="deleteTipoEncuesta($event)" (onEdit)="editTipoEncuesta($event)"></app-tipoencuesta-item>
  </div>
</div>