<app-loading *ngIf="loading"></app-loading>
<mat-toolbar>
  <span>Engagement Express - {{'categoria.titulocategorias' | translate }}</span>
  <span class="fill-space"></span>
  <button mat-raised-button color="warn" (click)="newCategoria()">
    <i class="fa fa-plus"></i> {{'categoria.nuevacategoria' | translate }}
  </button>
</mat-toolbar>

<mat-grid-list cols="4" gutterSize="3px" rowHeight="3:2">
  <mat-grid-tile *ngFor="let categoria of categorias">
    <mat-grid-tile-header>
      {{categoria.nombre}}
      <button mat-button (click)="edit(categoria)"><i class="fa fa-2x fa-pencil pull-right"></i></button>
      <button mat-button (click)="openDeleteDialog(categoria)"><i class="fa fa-2x fa-trash pull-right"></i></button>
    </mat-grid-tile-header>
    <mat-grid-tile-footer (click)="select(categoria)">{{categoria.preguntasCount}} {{'categoria.preguntas' | translate }}</mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>