<app-loading *ngIf="loading"></app-loading>
<form #f="ngForm" (ngSubmit)="submit()">
  <mat-card id="form-card">    
    <div class="form-container">
      <mat-form-field>
        <input matInput placeholder="Nombre"
          id="nombre" 
          type="text" 
          [(ngModel)]="model.nombre" 
          name="nombre"
          required
        >
      </mat-form-field>
      <div class="form-controls-container">
        <button mat-button color="accent" type="submit" [disabled]="!f.form.valid"><i class="fa fa-floppy-o"></i> {{'categoria.guardar' | translate}}</button>
        <button mat-button color="accent" (click)="cancel()"><i class="fa fa-times"></i> {{'categoria.cancelar' | translate}}</button>
      </div>
    </div>
  </mat-card>
</form>