<app-loading *ngIf="loading"></app-loading>
<mat-toolbar color="basic">
  <span>{{'categoria.editorcategorias' | translate}} - {{model.nombre}}</span>
  <span class="fill-space"></span>
  <button mat-raised-button color="warn" (click)="newPregunta()">
      <i class="fa fa-plus"></i> {{'categoria.nuevapregunta' | translate}}
  </button>
</mat-toolbar>
<div class="mat-elevation-z8">
  <div class="header">
    <mat-form-field class="full-width">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'categoria.filtro' | translate}}" class="filtro-tabla">
    </mat-form-field>
  </div>

  <mat-table [hidden]="loading" #table [dataSource]="dataSource" matSort>

    <!-- Columna id -->
    <ng-container matColumnDef="id">
      <mat-header-cell fxFlex="10" *matHeaderCellDef mat-sort-header>{{'categoria.id' | translate}}</mat-header-cell>
      <mat-cell fxFlex="10" *matCellDef="let pregunta">{{pregunta.id}}</mat-cell>
    </ng-container>

    <!-- Columna tipo -->
    <ng-container matColumnDef="tipo">
      <mat-header-cell fxFlex="15" *matHeaderCellDef mat-sort-header>{{'categoria.tipo' | translate}}</mat-header-cell>
      <mat-cell fxFlex="15" *matCellDef="let pregunta">{{pregunta.tipoPregunta.descripcion}}</mat-cell>
    </ng-container>

    <!-- Columna usuario -->
    <ng-container matColumnDef="creador">
      <mat-header-cell fxFlex="15" *matHeaderCellDef mat-sort-header>{{'categoria.usuariocreador' | translate}}</mat-header-cell>
      <mat-cell fxFlex="15" *matCellDef="let pregunta">{{pregunta.creator}}</mat-cell>
    </ng-container>

    <!-- Columna texto -->
    <ng-container matColumnDef="texto">
      <mat-header-cell fxFlex="55" *matHeaderCellDef mat-sort-header>{{'categoria.texto' | translate}}</mat-header-cell>
      <mat-cell fxFlex="55" *matCellDef="let pregunta">{{pregunta.texto}}</mat-cell>
    </ng-container>
    
    <!-- Columna acciones -->
    <ng-container matColumnDef="actions">
      <mat-header-cell fxFlex="15" *matHeaderCellDef mat-sort-header>{{'categoria.acciones' | translate}}</mat-header-cell>
      <mat-cell fxFlex="15" *matCellDef="let pregunta">
          <div>
              <button matTooltip="{{'categoria.ver' | translate}}" mat-button color="primary" (click)="viewPregunta(pregunta)"><i class="fa fa-eye"></i></button>
              <button matTooltip="{{'categoria.editar' | translate}}" *ngIf="pregunta.editable" mat-button color="primary" (click)="edit(pregunta)" class="table-button"><i class="fa fa-pencil"></i></button>
              <button matTooltip="{{'categoria.borrar' | translate}}" *ngIf="pregunta.editable" mat-button color="primary" (click)="openDeleteDialog(pregunta)" class="table-button"><i class="fa fa-trash"></i></button>
              <button matTooltip="{{'categoria.copiar' | translate}}" mat-button color="primary" (click)="copyPregunta(pregunta)"><i class="fa fa-copy"></i></button>
          </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 20]"
      [length]="totalItems">
  </mat-paginator>
</div>

<mat-card class="card" div fxLayout="row" fxLayoutAlign="end center">
    <div class="control-button">
        <button mat-raised-button color="warn" type="button" (click)="back()"> <i class="fa fa-arrow-left"></i> {{'categoria.volver' | translate}}</button>
    </div>
</mat-card>