<app-loading *ngIf="loading"></app-loading>
<mat-toolbar>
  <span class="my-style">{{'encuesta.seleccionpreguntas' | translate }} - {{model.titulo}}</span>
</mat-toolbar>

<div class="mat-elevation-z8">
  <div class="header">
    <mat-form-field class="full-width">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'encuesta.filtro' | translate }}" class="filtro-tabla">
    </mat-form-field>
  </div>

  <mat-table [hidden]="loading" #table [dataSource]="dataSource" matSort>
    <!-- Seleccionar todo -->
    <ng-container matColumnDef="select">
      <mat-header-cell fxFlex="4%" *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-header-cell fxFlex="4%" *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-header-cell>
    </ng-container>

    <!-- Columna id -->
    <ng-container matColumnDef="id">
      <mat-header-cell fxFlex="4%" *matHeaderCellDef mat-sort-header> {{'encuesta.id' | translate }} </mat-header-cell>
      <mat-cell fxFlex="4%" *matCellDef="let pregunta"> {{pregunta.id}} </mat-cell>
    </ng-container>

    <!-- Columna texto -->
    <ng-container matColumnDef="texto">
      <mat-header-cell fxFlex="39%" *matHeaderCellDef mat-sort-header> {{'encuesta.texto' | translate }} </mat-header-cell>
      <mat-cell fxFlex="39%" *matCellDef="let pregunta"> {{pregunta.texto}} </mat-cell>
    </ng-container>

    <!-- Columna categoría -->
    <ng-container matColumnDef="categoria">
      <mat-header-cell fxFlex="23%" *matHeaderCellDef mat-sort-header> {{'encuesta.categoria' | translate }} </mat-header-cell>
      <mat-cell fxFlex="23%" *matCellDef="let pregunta"> {{pregunta.nombreCategoria}} </mat-cell>
    </ng-container>

    <!-- Columna usuario creador -->
    <ng-container matColumnDef="creator">
      <mat-header-cell fxFlex="15%" *matHeaderCellDef mat-sort-header> {{'encuesta.usuariocreador' | translate }} </mat-header-cell>
      <mat-cell fxFlex="15%" *matCellDef="let pregunta"> {{pregunta.creator}} </mat-cell>
    </ng-container>

    <!-- Columna tipo de pregunta -->
    <ng-container matColumnDef="tipo">
      <mat-header-cell fxFlex="15%" *matHeaderCellDef mat-sort-header> {{'encuesta.tipopregunta' | translate }} </mat-header-cell>
      <mat-cell fxFlex="15%" *matCellDef="let pregunta"> {{pregunta.tipoPregunta.descripcion}} </mat-cell>
    </ng-container>

    <!-- Columna peso -->
    <ng-container matColumnDef="peso">
        <mat-header-cell fxFlex="15%" *matHeaderCellDef mat-sort-header> {{'encuesta.peso' | translate }} </mat-header-cell>
        <mat-cell fxFlex="15%" *matCellDef="let pregunta" (click)="$event.stopPropagation()">
            <div *ngIf="pregunta.tipoPregunta.id !== 0 && pregunta.tipoPregunta.id!==3">
                <input matInput type="number" [(ngModel)]="pregunta.peso" />
            </div>
        </mat-cell>       
    </ng-container>  

    <!-- Columna acciones -->
    <ng-container matColumnDef="actions">
      <mat-header-cell fxFlex="12" *matHeaderCellDef mat-sort-header>{{'encuesta.acciones' | translate }}</mat-header-cell>
      <mat-cell fxFlex="12" *matCellDef="let pregunta">
        <button matTooltip="{{'encuesta.ver' | translate }}" mat-button color="primary" (click)="viewPregunta(pregunta)"><i class="fa fa-eye"></i></button>         
      </mat-cell>
    </ng-container>    

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)">
    </mat-row>
  </mat-table>

  <mat-paginator #paginator
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 15]"
      [length]="totalItems">
  </mat-paginator>
</div>

<mat-card *ngIf="!loading" class="card" div fxLayout="row" fxLayoutAlign="end center">
    <div class="control-button">
        <button mat-raised-button color="warn" type="button" (click)="back()"><i class="fa fa-arrow-left"></i> {{'encuesta.volver' | translate }}</button>
        <button mat-raised-button color="warn" type="button" (click)="save()"><i class="fa fa-floppy-o"></i> {{'encuesta.guardar' | translate }}</button>
    </div>
</mat-card>


