<h2 mat-dialog-title>{{'geografia.noposibleborrar' | translate }}</h2>
<mat-dialog-content>
  {{'geografia.noposibleborrarext' | translate }}  
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>{{'geografia.aceptar' | translate }}</button>
</mat-dialog-actions>