<h2 mat-dialog-title>{{'geografia.seguroborrar' | translate }}</h2>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>{{'geografia.no' | translate }}</button>
  <button mat-button [mat-dialog-close]="true">{{'geografia.si' | translate }}</button>
</mat-dialog-actions>