<mat-card id="form-card">
    <form #f="ngForm" (ngSubmit)="submit()">
      <div class="form-container">
        <mat-form-field>
          <input matInput placeholder="{{ 'login.antiguopwd' | translate }}"
            id="oldPass" 
            type="password" 
            [(ngModel)]="model.oldPass" 
            name="oldPass"
            required
          >
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="{{ 'login.nuevopwd' | translate }}"
            id="newPass" 
            type="password" 
            [(ngModel)]="model.newPass" 
            name="newPass"
            required
			
          >
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="{{ 'login.repitepwd' | translate }}"
            id="newPass2" 
            type="password" 
            [(ngModel)]="model.newPass2" 
            name="newPass2"
            required
          >
        </mat-form-field>
      </div>
      <div class="form-controls-container">
        <button mat-button color="accent" type="submit" [disabled]="!f.form.valid">{{ 'login.cambiar' | translate }}</button>
        <button mat-button color="accent" type="button" (click)="cancel()"><i class="fa fa-times"></i> {{ 'login.cancelar' | translate }}</button>
      </div>
    </form>
  </mat-card>