#form-card {
  margin-top: 25px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-controls-container {
  display: flex;
  flex-direction: row;
}

/* .ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
} */