<div fxLayout="row" fxLayoutAlign="space-around center">
  <mat-card fxFlex.gt-xs="40" id="form-card">
    <form #f="ngForm" (ngSubmit)="submit()">
      <div class="form-container">
        <mat-form-field>
            <input matInput placeholder="{{ 'login.email' | translate }}"
              id="email" 
              type="email" 
              [(ngModel)]="model.email" 
              name="email"
              email
              required
            >
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="{{ 'login.password' | translate }}"
              id="password" 
              type="password" 
              [(ngModel)]="model.password" 
              name="password"
              required
            >
          </mat-form-field>

          <mat-form-field>
            <mat-select [(ngModel)]="idiomaLocale" name="idiomaId" placeholder="{{ 'login.idioma' | translate }}" required>   
                <mat-option *ngFor="let idioma of idiomas" [value]="idioma.locale">{{idioma.nombre}}</mat-option>                 
            </mat-select>
          </mat-form-field>     

        </div>
        <div class="form-controls-container">
          <button mat-button color="accent" type="submit" [disabled]="!f.form.valid">{{ 'login.entrar' | translate }}</button>
          
        </div>
    </form>
    <br />
    <button mat-button color="accent" (click)="recoverPassView()">
      {{ 'login.recoverpassword' | translate }}
    </button>
  </mat-card>
</div>