<mat-card id="form-card">
    <form #f="ngForm" (ngSubmit)="submit()">
      <div class="form-container">
        <mat-form-field>
          <input matInput placeholder="{{ 'login.email' | translate }}"
            id="idEmail" 
            type="email" 
            [(ngModel)]="model.email" 
            name="email"
            required />
        </mat-form-field>
      </div>
      <div class="form-controls-container">
        <button mat-button color="accent" type="submit" [disabled]="!f.form.valid" value="{{ 'login.enviar' | translate }}">{{ 'login.enviar' | translate }}</button>
        <button mat-button color="accent" type="button" (click)="cancel()"><i class="fa fa-times"></i> {{ 'login.cancelar' | translate }}</button>
      </div>
    </form>
  </mat-card>